.header {
  text-align: center;
}
.sticky-image {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: calc(33%);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: -10;
}

.step-inner {
  height: 80vh;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    font-size: 1.45rem;
    max-width: 500px;
    text-align: center;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
