.container {
  margin: spacer(32) 0 0;
}

.author-footer {
  display: flex;
  flex-direction: row;

  img {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    margin-bottom: spacer(24); // matches layout content-primary p
  }
  .text-content {
    @include type-size(200);
    line-height: 1.75;
    font-style: italic;
    padding-left: spacer(16);
    padding-right: spacer(24);
    p {
      margin-bottom: 0;
    }
  }
}
