.container {
  margin: spacer(32) 0;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: spacer(24);

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
  }
  .text-content {
    @include type-size(200);
    line-height: 1.75;
    font-style: italic;
    padding-left: spacer(16);
    padding-right: spacer(24);
    p {
      margin: 0;
    }
  }
}
