.navigation-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: spacer(32);
  @media (max-width: $viewport-ms) {
    grid-template-columns: auto;
  }
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: spacer(32);
  justify-self: start;
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  @media (max-width: $viewport-ms) {
   justify-self: center;
 }
}

.navigation-item {
  text-decoration: none;
}

.page-navigation {
  align-items: center;
  justify-self: end;
  display: flex;
  @media (max-width: $viewport-ms) {
    justify-self: center;
    margin-top: spacer(8);
  }
}

.pages {
  display: flex;
  @include padding(8, left);
  list-style-type: none;
}

.page {
  margin: 0 spacer(4);

  &:last-child {
    @include margin(0, right);
  }

  &:first-child {
    @include margin(0, left);
  }

  .page-link {
    padding: spacer(4) spacer(8);
    border-radius: 4px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: $color-blueberry-100;
    }
    &.page-active {
      color: white;
      background-color: $color-blueberry-400;
      &:hover {
        color: white;
      }
    }
  }
}

.disabled-link {
  pointer-events: none;
  color: $color-slate-300;
}
