@media (min-width: $viewport-lg) {
  .container > div {
    flex-basis: calc(66.6666% + 8rem);
    max-width: calc(66.6666% + 8rem);
  }
}

.title {
  @include type-size(400);
  line-height: 1.25;
  @include margin(16, bottom);
  @media (min-width: $viewport-md) {
    @include type-size(500);
  }
}

.teaser {
  @include margin(64, bottom);
  @media (max-width: $viewport-lg) {
    @include margin(32, bottom);
  }
}
