@import '../../../scss/colors.module.scss';

.byline {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.5;
  margin: 16px 0;
  flex-wrap: wrap;
  .headshot-container {
    margin-right: 12px;
    display: inline-flex;
    img {
      width: 47px;
      border-radius: 50%;
      margin-right: -5px;
    }
  }
  .author::after {
    content: "  |  ";
    white-space: pre;
  }
  .author-date-container {
    margin: 0.5rem 0;
    font-size: 1.125rem;
    * {
      font-size: 1.125rem;
      display: inline;
    }
    .author-inner {
      font-weight: bold;
    }
  }
  .date {
    color: $color-slate-700;
  }
}

.one-line-byline {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
  .author::after {
    content: "  \2022  ";
    color: $color-slate-500;
  }
  .author {
    color: $color-slate-700;
    font-style: italic;
  }
}

p.one-line-byline {
  margin-bottom: 0;
}
