@import '~scss/colors.module.scss';
@import '~scss/type.module.scss';

.byline-base {
  display: flex;
  align-items: center;
  @include type-size(400);
  line-height: 1.5;

  .headshot-container {
    margin-right: spacer(16);
    display: inline-flex;
    align-items: flex-start;

    img {
      max-width: 47px;
      border-radius: 50%;
      margin-right: -5px;
    }
  }
  .spacer {
    white-space: pre;
  }
  .author::after {
    content: '  |  ';
    white-space: pre;
  }
  * {
    margin: spacer(8) 0;
    @include type-size(300);
    display: inline;
  }
  .author-inner {
    font-weight: bold;
    display: inline;
  }
  .date {
    color: $color-slate-700;
  }
}

.byline {
  @extend .byline-base;
  margin: spacer(16) 0;

  .byline-text {
    margin: 0;
  }
}

.byline--small-margin {
  @extend .byline-base;
  margin: spacer(8) 0;
  p {
    margin-bottom: spacer(8);
  }
}

.byline--small-margin--image {
  @extend .byline-base;
  margin-top: 0;
  margin-bottom: spacer(8);
  .byline-text {
    margin: 0;
  }
  .headshot-container,
  .headshot-container img {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.one-line-byline {
  @include type-size(100);
  line-height: 2.5;
  .author::after {
    content: '  \2022  ';
    color: $color-slate-500;
  }
  .author {
    color: $color-slate-700;
    font-style: italic;
  }
  line-height: 28px;
  .related-date {
    white-space: nowrap;
  }
}

p.one-line-byline {
  margin-bottom: 0;
}
