@import '../../../scss/colors.module.scss';

.byline-base {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.5;
  .headshot-container {
    margin-right: 12px;
    display: inline-flex;
    align-items: flex-start;
    img {
      max-width: 47px;
      border-radius: 50%;
      margin-right: -5px;
    }
  }
  .spacer {
    white-space: pre;
  }
  .author::after {
    content: '  |  ';
    white-space: pre;
  }
  * {
    margin: 0.5rem 0;
    font-size: 1.125rem;
    display: inline;
  }
  .author-inner {
    font-weight: bold;
    display: inline;
  }
  .date {
    color: $color-slate-700;
  }
}

.byline {
  @extend .byline-base;
  margin: 16px 0;

  .byline-text {
    margin: 0;
  }
}

.byline--small-margin {
  @extend .byline-base;
  margin: 8px 0;
  p {
    margin-bottom: 8px;
  }
}

.byline--small-margin--image {
  @extend .byline-base;
  margin-top: 0;
  margin-bottom: 8px;
  .byline-text {
    margin: 0;
  }
  .headshot-container,
  .headshot-container img {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.one-line-byline {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
  .author::after {
    content: '  \2022  ';
    color: $color-slate-500;
  }
  .author {
    color: $color-slate-700;
    font-style: italic;
  }
  line-height: 28px;
  .related-date {
    white-space: nowrap;
  }
}

p.one-line-byline {
  margin-bottom: 0;
}
