.categories-container {
  display: flex;
  .category {
    font-weight: 600;
    @include type-size(100);
    line-height: 1rem;
    color: $color-plum-100;
    margin-bottom: 0;
    a {
      text-decoration: none;
      &:hover {
        @include link-hover-dark-bg;
      }
      &:focus {
        @include link-focus-dark-bg;
      }
    }
    &::after {
      content: '  |  ';
      white-space: pre;
      color: $color-plum-100;
      font-weight: normal;
    }
    &:last-child::after {
      content: none;
    }
  }
}
