.container {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;

  @media (max-width: $viewport-md) {
    grid-template-columns: 100%;
  }

  margin-top: 0;

  h2 {
    margin: 0;
    margin-bottom: spacer(16);
    @include type-size(500);
  }
  h3 {
    @include type-size(400);
    line-height: 130%;
    margin: 0;
    margin-bottom: spacer(16);
    a {
      text-decoration: none;
    }
  }
}

.post {
  margin-top: spacer(16);
  grid-column-start: span 2;
  @media (max-width: $viewport-md) {
    grid-column-start: span 1;
  }
}

.lede {
  color: $color-slate-500;
  @include type-size(300);
  line-height: 150%;
}

.cta-wrapper {
  text-align: right;
  @media (max-width: $viewport-md) {
    order: 99;
    text-align: left;
  }
}
