.container {
  margin-bottom: spacer(120);
  h2 {
    margin: spacer(64) 0 spacer(32);
    @include type-size(500);
  }
  h3 {
    @include type-size(400);
    line-height: 130%;
    margin: 0;
    margin-bottom: spacer(16);
  }
}

.lede {
  color: $color-slate-500;
  @include type-size(300);
  line-height: 150%;
}
