@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  tr,
  td,
  th {
    border-bottom: 1px solid $color-slate-200;
    text-align: left;
    font-size: 1rem;
    vertical-align: top;
  }
  th {
    font-weight: bolder;
  }
}

.cell-label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.75rem 0;
  @media (min-width: $viewport-lg) {
    display: none;
  }
}

.header {
  display: none;
  @media (min-width: $viewport-lg) {
    display: table-row;
  }
}

.row {
  display: block;
  border-bottom: 1px solid $color-slate-500;
  padding: 2rem 0;
  &:first-child {
    padding-top: 0;
  }
  @media (min-width: $viewport-lg) {
    display: table-row;
    border-bottom: 1px solid $color-slate-200;
    transition: background-color 0.2s;
    padding: 0;
  }
  td {
    margin: 0;
    display: block;
    border: 0;
    @media (min-width: $viewport-lg) {
      display: table-cell;
      padding: 1rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
