@import '../../../scss/breakpoints.scss';
@import '../../../scss/colors.scss';

.map-contents {
  position: relative;
}

.map-tooltip {
  background: white;
  pointer-events: none;
  position: absolute;
  border: 2px solid #000;
  table {
    line-height: 1rem;
    border-collapse: collapse;
    margin: -1px;
    font-size: 0.85em;
  }
  caption {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: left;
    padding: 0.75rem 0.75rem 0.375rem 0.75rem;
    span.date {
      font-size: 0.7rem;
      color: gray;
      text-transform: uppercase;
    }
  }
  td,
  th {
    border: 1px solid #000;
    text-align: center;
    padding: 0.4rem 0.8rem;
  }
  th {
    font-weight: bold;
    white-space: nowrap;
  }
}

.map-legend {
  position: absolute;
  bottom: 510px;
  right: 20px;
  @media screen and (max-width: $viewport-sm) {
    bottom: 300px;
    right: 5px;
  }
}

.test-bubbles {
  circle {
    fill: $color-plum-400;
    stroke: $color-plum-400;
  }
}
.positive-bubbles {
  circle {
    fill: $color-honey-400;
    stroke: $color-honey-400;
  }
}
