#map-tooltip {
  background: white;
  pointer-events: none;
  position: fixed;
  width: 270px;
  table {
    border: 1px solid #333;
    border-collapse: collapse;
    margin: -1px;
  }
  td {
    border: 1px solid lightgray;
    border-collapse: collapse;
  }
  thead {
    td {
      text-align: left;
      color: #000;
      font-weight: 600;
      margin: 10px 10px;
      font-size: 18px;
      span.date {
        font-size: 14px;
        color: gray;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    td {
      text-align: center;
      padding: 2px 4px;
    }
    tr:nth-child(1) {
      background-color: #e8eff6;
      font-weight: 600;
    }
    tr:nth-child(even) {
      background-color: initial;
    }
    td:nth-child(1) {
      background-color: #e8eff6;
      font-weight: 600;
    }
  }
}

.map-legend {
  position: absolute;
  top: 42px;
  left: 0;
}
