<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:site_name" content="{{ data.title }}">
		<link rel="canonical" href="{{ data.url }}">

		<title>{{ data.title }}</title>
		<meta name="description" content="{{ data.description }}">

		<meta name="application-name" content="{{ data.title }}">
		<link rel="manifest" href="/webappmanifest.json">

		<!-- Icons, platform-specific theme stuff, etc.: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icon-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icon-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icon-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icon-114.png">

		<meta name="msapplication-TileImage" content="/_assets/img/icon-144.png">
		<meta name="theme-color" content="#6d252e">
		<link rel="icon" type="image/png" href="/_assets/img/icon-32.png" sizes="32x32">

		<!-- Half my site’s transfer is in `meta` nonsense. -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "{{ data.url }}",
				"title": "{{ data.title }}",
				"author_name": "{{ data.author.name }}",
				"logo": "{{ data.url }}/_assets/img/card.gif",
				"sameAs" : [
					"https://twitter.com/wilto"
				]
			}
		</script>

		<!-- Twitter/Slack cards: -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@COVID19Tracking">
		<meta name="twitter:creator" content="@COVID19Tracking">
		<meta property="og:site_name" content="{{ data.name }}">
		<meta name="twitter:title" content="{{ data.title }}">
		<meta property="og:title" content="{{ data.title }}">
		<meta property="og:url" content="{{ data.url }}">

		<meta name="twitter:description" content="{{ data.description }}">
		<meta property="og:description" content="{{ data.description }}">

		<meta name="twitter:image" content="{{ data.url }}/_assets/img/card.png">
		<meta name="twitter:image:alt" content="{{ data.name }}">
		<meta property="og:image" content="{{ data.url }}/_assets/img/card.png">
		<meta property="og:image:alt" content="{{ data.name }}">

		<meta name="author" content="{{ data.author.name }}">

		<link rel="stylesheet" type="text/css" href="/_assets/css/all.css">

		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>

		{% include "partials/header.njk" %}

		<main id="main">
			<div class="body container">
				{% if page.url != "/" %}<h1>{{ title }}</h1>{% endif %}
				{% if summary %}<p class="lede">{{ summary }}</p>{% endif %}
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "partials/footer.njk" %}

		<script>
			if( 'serviceWorker' in navigator && window.location.hostname !== "localhost" ) {
				navigator.serviceWorker.register('sw.js');
			}
		</script>
	</body>
</html>
