---
layout: base.njk
---

{{ layoutContent | safe }}

<h2 id="press">In the Press</h2>

<div class="press-logos-container">
    <p>
        <img alt="The Atlantic logo" src="/_assets/img/press-logos/the-atlantic.svg">
        <img alt="Politico logo" src="/_assets/img/press-logos/politico.svg">
        <img alt="Vox logo" src="/_assets/img/press-logos/vox.svg">
        <img alt="New York Times logo" src="/_assets/img/press-logos/nyt.svg">
        <img alt="Talking Points Memo logo" src="/_assets/img/press-logos/tpm.svg">
        <img alt="Minnesota Public Radio News logo" src="/_assets/img/press-logos/mprnews.svg">
        <img alt="The Washington Post logo" src="/_assets/img/press-logos/wapo.svg">
    </p>
</div>


<ul>
{% for article in sheets.press %}
    {# [{"title":"article title","url":"article url","addToCovidTrackingProjectWebsite":false,"aboutCovidTrackingProject":null,"publishDate":"2020-03-12","continuallyUpdated":true,"publication":"Vox","author":"German Lopez","doesThisSourceHaveADataVisualization":true,"dataSource":"Covid Tracking project (CTP), The Atlantic, Business Insider, Taiwan CDC","usesCovidTrackingData":"Yes"}, #}
    <li>
        <a href="{{article.url}}">{{article.title}}</a>
        {%- if article.publication -%}
            , {{article.publication}}
        {%- endif -%}
        {%- if article.publishDate -%}
            , {{ article.publishDate | pressDate }}
        {% endif %}
    </li>
{% endfor %}
</ul>
