---
layout: base.njk
---

{{ layoutContent | safe }}
<p class="updated">Last updated: {{ sheets.updated }}</p>
<ul>
{% for state in sheets.states %}
  <div>
    <h3><a href="{{ state.covid19Site }}">{{ state.stateName }}</a></h3>
    <a href="https://twitter.com/{{ state.twitter }}" title="{{ state.twitter }}">
      <img src="https://img.icons8.com/android/24/000000/twitter.png"/>
    </a>
    <p>{{ state.notesAboutTheData }}</p>
    <table>
      <caption>Last updated: {{ state.lastUpdateEt }} ET</caption>
      <thead>
        <tr>
         <th>Positive</th>
         <th>Negative</th>
         <th>Pending</th>
         <th>Deaths</th>
         <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         <td>{{ state.positive }}</td>
         <td>{{ state.negative }}</td>
         <td>{{ state.pending }}</td>
         <td>{{ state.dealth }}</td>
         <td>{{ state.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% else %}
  <li>No state information found</li>
{% endfor %}
</ul>
