---
layout: base.njk
---

{{ layoutContent | safe }}
<p class="updated">Last updated: {{ sheets.updated }}</p>
<ul class="states-list">
{% for state in sheets.states %}
  <li class="state-item">
    <div class="state-header">
      <h2 class="state-name"><a class="state-link" href="{{ state.covid19Site }}">{{ state.stateName }}</a></h2>
      <a class="state-link" href="https://twitter.com/{{ state.twitter }}">
        <img alt="{{ state.stateName }} on Twitter" src="https://img.icons8.com/android/24/000000/twitter.png" />
      </a>
    </div>
    <table class="state-table">
      <caption><span class="a11y-only">{{ state.stateName }} data</span> Last updated: {{ state.lastUpdateEt }} ET</caption>
      <thead>
        <tr>
         <th scope="col">Positive</th>
         <th scope="col">Negative</th>
         <th scope="col">Pending</th>
         <th scope="col">Deaths</th>
         <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         <td>{{ state.positive }}</td>
         <td>{{ state.negative }}</td>
         <td>{{ state.pending }}</td>
         <td>{{ state.dealth }}</td>
         <td>{{ state.total }}</td>
        </tr>
      </tbody>
    </table>

    {% if state.notes %}
    <p class="state-notes">{{ state.notes }}</p>
    {% endif %}

    {% if state.comments %}
    <small>{{ state.comments }}</small>
    {% endif %}
  </li>
{% else %}
  <li>No state information found</li>
{% endfor %}
</ul>
