---
layout: base.njk
---

{{ layoutContent | safe }}
<div class="state">

    <div class="state-header">
        <h1>{{ state.name }}</h1>
        {% if state.twitter %}
            <a href="https://twitter.com/{{ state.twitter }}">
                <img alt="{{ state.name }} on Twitter" src="/_assets/img/twitter-logo-black.svg" width="26px"/>
            </a>
        {% endif %}
    </div>
    <ul class="state-links">
        {% if state.covid19Site %}
            <li>
                <a href="{{state.covid19Site}}">Best current data source</a>
            </li>
        {% endif %}
        {% if state.dataSite %}
            <li>
                <a href="{{state.dataSite}}">Data source</a>
            </li>
        {% endif %}
        <li>Data quality grade: <strong>{{ state.grade }}</strong></li>
    </ul>

    {% if state.notes %}
         <p>{{ state.notes | markdownify | safe }}</p>
    {% endif %}

    <table class="state-table">
        <caption>
            <span class="a11y-only">{{ state.name }} data</span>
            <span title="The time the data was last updated by the state.">Last updated: {{ state.lastUpdateEt }} ET</span> &bull;
            <span title="The last time we reviewed the state data source and updated our data">Last checked: {{ state.checkTimeEt }} ET</span>
        </caption>
        <thead>
            <tr>
                <th scope="col">Positive</th>
                <th scope="col">Negative</th>
                <th scope="col">Pending</th>
                <th scope="col">Hospitalized</th>
                <th scope="col">Deaths</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ state.positive | thousands }}</td>
                <td>{{ state.negative | thousands }}</td>
                <td>{{ state.pending | thousands }}</td>
                <td>{{ state.hospitalized | thousands }}</td>
                <td>{{ state.death | thousands }}</td>
                <td>{{ state.total | thousands }}</td>
            </tr>
        </tbody>
    </table>

    <h2>History</h2>

    <table class="state-history-table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Screenshot</th>
                <th scope="col">Positive</th>
                <th scope="col">Negative</th>
                <th scope="col">Pending</th>
                <th scope="col">Hospitalized</th>
                <th scope="col">Deaths</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stateDay in sheets.stateDaily %}
                {% if stateDay.state == state.state %}
                    <tr>
                        <td>{{ stateDay.date | readableYYYYMMDD }}</td>
                        <td>
                            {% for screenshot in stateDay.screenshots %}

                                <a target="_blank" class="screenshot-link" href="{{ screenshot.url }}">
                                    <span class="a11y-only">View screenshot at </span>
                                    {{ screenshot.dateChecked | readableTime }}
                                </a>
                            {% endfor %}
                        </td>
                        <td>{{ stateDay.positive | thousands }}</td>
                        <td>{{ stateDay.negative | thousands }}</td>
                        <td>{{ stateDay.pending | thousands }}</td>
                        <td>{{ stateDay.hospitalized | thousands }}</td>
                        <td>{{ stateDay.death | thousands }}</td>
                        <td>{{ stateDay.total | thousands }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

</div>