---
layout: base.njk
---

{{ layoutContent | safe }}
<p class="updated">Last updated: {{ sheets.updated }}</p>

<div class="us-days">
  <table class="day-table">
    <caption>
      US Daily Cumulative Totals - 4 pm ET
    </caption>
    <thead>
      <tr>
        <th scope="col" class="text-left">Date</th>
        <th scope="col">States Tracked</th>
        <th scope="col">Positive</th>
        <th scope="col">Negative</th>
        <th scope="col">Pos + Neg</th>
        <th scope="col">Pending</th>
        <th scope="col">Deaths</th>
        <th scope="col">Total Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for day in sheets.usDaily %}
        <tr>
          {# [{"date":20200304,"states":14,"positive":118,"negative":748,"posNeg":866,"pending":103,"death":null,"total":969}, #}
          <td class="text-left">{{ day.date | readableYYYYMMDD }}</td>
          <td>{{ day.states | thousands }}</td>
          <td>{{ day.positive | thousands }}</td>
          <td>{{ day.negative | thousands }}</td>
          <td>{{ day.posNeg | thousands }}</td>
          <td>{{ day.pending | thousands }}</td>
          <td>{{ day.death | thousands }}</td>
          <td>{{ day.total | thousands }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
