.wrapper {
  @include margin(32, top);
  @include margin(16, bottom);
  align-items: center;
}
.legend {
  text-align: right;
  div {
    @include margin(8, bottom);
  }
}

.outbreak-only {
  display: inline-block;
  background: #f3d8b7; // ignore-style-rule
  @include padding(8);
}

.missing {
  display: inline-block;
  border: 1px solid $color-slate-300;
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 5px,
    $color-slate-300 6px,
    $color-slate-300 6px
  );
  @include padding(8);
}
