.container {
  margin: spacer(16) 0 0;
  @media (min-width: $viewport-md) {
    margin-top: spacer(32);
  }
}

.author {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  margin-bottom: spacer(16);

  @media (min-width: $viewport-md) {
    margin-bottom: spacer(32);
  }

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .text-content {
    @include type-size(200);
    line-height: 1.75;
    font-style: italic;
    padding-left: spacer(16);
    padding-right: spacer(24);
    p {
      margin: 0;
    }
  }
}
