.eight-col-wrapper {
  @include row;
  @include col(4 6 8);
  margin: 0 auto;
}

.divider {
  height: 1px;
  background-color: black;
  border: none;
  width: 67%;
  @include margin(32, (top, bottom));

  @media (max-width: $viewport-md) {
    margin: 3rem 0; // ignore-style-rule
  }
  &.full-width {
    margin-left: calc(50% - 49vw); // ignore-style-rule
    margin-right: calc(50% - 49vw); // ignore-style-rule
    width: 98vw;
  }
}

.wrapper {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid black;
}

.categories {
  @include row;
  @include col(4 6 8);
  margin: 0 auto;
  margin-top: 2rem;
  @media (min-width: $viewport-md) {
    margin-top: spacer(32);
  }
  span {
    display: inline-block;
    margin-left: 1.5rem;
  }
}
