@import '../../breakpoints.scss';

.state-header {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  @media (min-width: $viewport-md) {
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
  }
}
