.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

table {
  line-height: 1rem;
  border-collapse: collapse;
  margin: 2rem 0;
  font-size: 0.85em;
  font-variant-numeric: lining-nums tabular-nums;
  width: 100%;

  @media only screen and (max-width: 640px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  caption, th {
    text-align: left;
  }

  td,
  th[scope="col"] {
    text-align: right;
  }

  caption {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.75rem 0;
  }

  th, td {
    border: 1px solid #C0C0C0;
    padding: 0.25rem;
  }

  th:last-child {
    padding-right: 0.25rem;
  }

  th {
    background: #dee2e4;

    span {
      display: block;
      font-size: 0.75rem;
    }

    &[scope="colgroup"] {
      font-size: 1.1em;
      text-align: center;
    }
  }

  thead th {
    vertical-align: bottom;
  }

  tbody {
    th {
      background: #f3f3f3;
      font-weight: normal;
    }

    tr:first-child > * {
      border-top: none;
    }
  }
}
