@import '../colors.scss';
@import '../breakpoints.scss';

.site-header {
  margin-bottom: 1.5rem;
  &.no-margin {
    margin-bottom: 0;
  }
  &.show-mobile-menu {
    .header-container {
      nav {
        display: block;
        @media (min-width: $viewport-md) {
          display: block;
        }
      }
    }
  }
  .header-container {
    padding: 2vw 8vw 0 8vw;
    background: #5667ad;
    &.show-background {
      background-image: url(../../images/hero-bg.svg);
      background-size: auto 300%;
    }
    .mobile-toggle {
      float: right;
      background: transparent;
      border: none;
      font-weight: bold;
      color: white;
      @media (min-width: $viewport-md) {
        display: none;
      }
    }
    img {
      margin-bottom: 0;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: bold;
    }

    h1 {
      margin: 0;
      color: white;
      &.extra-space {
        margin-bottom: 1rem;
      }
    }

    nav {
      display: none;
      margin-top: 1rem;
      @media (min-width: $viewport-md) {
        display: block;
        margin-top: 0;
        align-items: center;
        float: right;
      }
      ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;

        li {
          margin-bottom: 0.5rem;
          @media (min-width: $viewport-md) {
            display: inline-block;
            padding-right: 3vw;
            margin-bottom: 0;
            line-height: 16px;
          }
        }

        a[aria-current] {
          border-bottom: 3px solid $color-secondary-light;
        }

        li:last-child {
          padding-right: 0;
        }
      }
    }

    .header-tabs {
      display: block;
      @media (min-width: $viewport-md) {
        display: inline-block;
      }
      ul {
        list-style-type: none;
        margin: 0;
        a {
          background: $color-main-lightest;
          color: $color-main-mid;
          display: block;
          padding: 0.4rem 0.6rem;

          @media (min-width: $viewport-md) {
            padding: 1rem;
          }

          &[aria-current] {
            background: white;
          }
        }
        li {
          display: inline-block;
          &:last-child a {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
          &:first-child a {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
          @media (min-width: $viewport-md) {
            margin: 0;
            &:last-child a {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 0px;
            }
            &:first-child a {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 0px;
            }
          }
        }
      }
    }
  }
}
