@import '../colors.scss';

.site-header {
  margin-bottom: 1.5rem;
  .header-container {
    padding: 2vw 8vw 0 8vw;
    background: #5667ad;

    img {
      margin-bottom: 0;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: bold;
    }

    h1 {
      margin: 0;
      color: white;
    }

    nav {
      align-items: center;
      float: right;
      ul {
        padding-left: 0;
        margin: 0;

        li {
          display: inline-block;
          padding-right: 3vw;
          margin-bottom: 0;
          line-height: 16px;
        }

        a[aria-current] {
          border-bottom: 3px solid $color-secondary-light;
        }

        li:last-child {
          padding-right: 0;
        }
      }
    }

    .header-tabs {
      background: $color-main-lightest;
      display: inline-block;
      ul {
        list-style-type: none;
        margin: 0;
        a {
          color: $color-main-mid;
          padding: 1rem;
          display: block;
          &[aria-current] {
            background: white;
          }
        }
        li {
          display: inline-block;
          margin: 0;
        }
      }
    }
  }
}
