@import '../colors.scss';
@import '../breakpoints.scss';

.hero {
  padding: 70px 20% 140px 0;
  @media only screen and (max-width: $viewport-ms) {
    padding: 35px 0 70px;
  }

  .header {
    color: white;
    font-size: 2.2rem;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 0;

    @media only screen and (max-width: $viewport-ms) {
      font-size: 1.3rem;
    }
  }

  .ctas {
    display: flex;
    margin-top: 70px;
    color: white;
    align-items: center;
    font-size: 1.1rem;

    @media only screen and (max-width: $viewport-ms) {
      flex-direction: column;
      margin-top: 35px;
    }

    .cta-spacer {
      margin: 0 1rem;

      @media only screen and (max-width: $viewport-ms) {
        margin: 0.5rem 1rem;
      }
    }

    a {
      color: white;
      font-weight: bold;

      &:hover {
        color: $color-secondary-lightest;
      }
    }

    .button {
      background: $color-secondary-light;
      text-decoration: none;
      padding: 1rem 0;
      width: 25%;
      text-align: center;
      color: $color-secondary-darkest;
      &:hover,
      &:focus,
      &:active {
        background: $color-secondary-lightest;
        color: $color-secondary-darkest;
      }
      @media only screen and (max-width: $viewport-sm) {
        width: 100%;
        padding: 0.75rem 2rem;
      }
    }

    :first-child {
      margin-left: 0;
    }
  }
}
