// .wrapper {
//   display: grid;
//   grid-template-columns: 1fr 1fr;

//   @media (max-width: $viewport-lg) {
//     grid-template-columns: 1fr;
//   }
// }

.chart-section > div > svg {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.chart-section-title {
  @include type-size(400);
  text-align: center;
  @include margin(0, bottom);
}
