.chart-section > div > svg {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.chart-section-title {
  @include type-size(400);
  text-align: center;
  @include margin(0, bottom);
}

.column {
  margin: 0 auto;

  text {
    // The axis labels get very large on big screens without this rule.
    font-size: 9px; // ignore-style-rule
  }
}
