.container {
  display: flex;
  justify-content: center;

  table {
    width: 100%;
    @include margin(0, top);

    th {
      @include padding(16, top);
    }
  }

  .ethnicity-table {
    @include margin(64, left);
  }

  div {
    flex-grow: 1;
  }

  div:first-child {

    @media (max-width: $viewport-lg) {
      @include margin(0, right);
    }
  }

  @media (max-width: $viewport-lg) {
    flex-direction: column;

    table {
      width: 100%;
    }
  }

  &.combined {
    justify-content: center;
  }
}

.ethnicity-date {
  // hides the ethnicity date column for large viewports
  display: none;

  span.value {
    display: flex;
    float: right;
  }

  @media (max-width: $viewport-lg) {
    display: inherit;
  }
}

.table-header {
  color: $color-plum-700;
  background-color: $color-plum-100;

  @include margin(0, (bottom, top));
  @include padding(4);

  text-align: left;
}

.no-data-container {
  background-color: $color-infobox-alert-light;
  flex-basis: 25%;

  .header {
    color: $color-plum-700;
    border-bottom: 1px solid $color-infobox-alert-dark;
    @include padding(32, (top, bottom));
    @include margin(0, top);

    @include type-size(400);

    display: flex;
    align-items: center;

    img {
      margin-top: 1px; // ignore-style-rule
      @include margin(8, right);
    }
  }

  .header,
  .content {
    @include padding(16, (right, left));
  }

  .content {
    @include padding(16, top);
  }
}

th.hidden * {
  display: none;
}

.abbreviated-label {
  color: $color-plum-700;
  text-decoration: underline;
}

.header-label {
  cursor: pointer;
}
