@import '~scss/colors.module.scss';

%toggle-active {
  color: $color-plum-700;
  span {
    border-bottom: 3px solid $color-plum-700;
  }
}

%toggle-inactive {
  color: $color-plum-400;
  span {
    border-bottom: 3px solid transparent;
  }
}

%toggle-unavailable {
  color: $color-slate-400;
  display: flex;
  cursor: not-allowed;

  .bang {
    max-width: 22px;
    @include margin(4, right);
  }
}

.toggle {
  align-self: flex-start;
  display: flex;
  cursor: pointer;

  @media (max-width: $viewport-lg) {
    // todo complete mobile styles here
    flex-direction: column;
  }

  @include margin(32, bottom);

  button {
    @extend %toggle-inactive;

    border: none;
    background-color: transparent;

    cursor: pointer;

    @include padding(32, (left, right));

    &:first-child {
      @include padding(0, left);
    }

    @include type-size(400);
    line-height: 1.5;
    font-weight: bold;

    &.active {
      @extend %toggle-active;
    }

    &.unavailable {
      @extend %toggle-unavailable;
    }
  }
}
