.form {
  label[for='c2'] {
    display: none;
  }

  label,
  legend {
    &[for] {
      font-weight: bold;
    }
    display: block;
    @include margin(16, top bottom);
    abbr {
      @include type-size(100);
      text-transform: uppercase;
      color: $color-slate-500;
    }
  }
  legend {
    font-weight: bold;
  }
  input[type='text'],
  input[type='email'],
  input[type='search'],
  input[type='date'],
  select,
  textarea {
    width: 100%;
    @include padding(16);
    border: 1px solid $color-link;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: spacer(4);
    margin-bottom: spacer(32);
    resize: vertical;
    display: block;
  }
  [aria-hidden] {
    @include a11y-only();
  }
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }
  button,
  [type='submit'] {
    cursor: pointer;
    border: none;
    background: $color-link;
    border-radius: 3px;
    @include padding(16);
    color: white;
    &[disabled] {
      cursor: not-allowed;
      background: $color-slate-600;
      color: white;
    }
  }
}
