.container {
  @media (max-width: $viewport-md) {
    order: 1; // shifts to be after the main cards content
  }

  a {
    margin-bottom: spacer(16);
    display: block;

    &:last-child {
      margin-bottom: spacer(0);
    }
  }
}
