//this should be hoisted to a dashboard constant .scss file
$positive-color: #e5a968;
$total-color: #696dc2;
$death-color: #404856;

#state-map {
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 500px) {
    margin-top: 20px;
  }

  p,
  h2 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  path:hover {
    stroke: black;
    stroke-width: 2px;
  }
  #map-dek {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 500px) {
      * {
        text-align: left;
      }
    }
  }
}

%map-toggle-active {
  color: black;
  border-color: black;
  font-weight: 500;
}
%map-toggle-inactive {
  color: lightgray;
  border: solid lightgray 2px;
  font-weight: initial;
}

#map-style-button {
  cursor: pointer;
  span {
    @extend %map-toggle-inactive;
    display: inline-block;
    margin: -1px;
    padding: 2px 6px;
    &:nth-child(1) {
      border-radius: 8px 0 0 8px;
    }
    &:nth-child(2) {
      border-radius: 0 8px 8px 0;
      border-left-color: black !important;
    }
    &.active {
      @extend %map-toggle-active;
    }
  }
}

.legend-text {
  border-bottom: solid 3px;
  &.total {
    border-color: $total-color;
  }
  &.positive {
    border-color: $positive-color;
  }
}
