@import '../../scss/breakpoints.module.scss';
@import '../../scss/colors.module.scss';

.dashboard-button {
  color: #000;
  border-color: #000;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  margin: 0 0 2rem;
  padding: 2px 15px;
}

%dashboard-toggle-active {
  color: black;
  border-color: black;
  font-weight: 500;
}

%dashboard-toggle-inactive {
  color: lightgray;
  border: solid lightgray 2px;
  font-weight: initial;
}

.dashboard-toggle-wrapper {
  display: flex;
  align-items: center;
}

.dashboard-toggle-label {
  margin-right: 1rem;
  font-size: 0.78rem;

  @media screen and (min-width: $viewport-sm) {
    font-size: 1rem;
  }
}

.dashboard-toggle {
  align-self: flex-start;
  cursor: pointer;
  display: flex;

  span {
    @extend %dashboard-toggle-inactive;
    font-size: 14px;
    margin: -1px;
    padding: 2px 15px;
    white-space: nowrap;

    &:nth-child(1) {
      border-radius: 8px 0 0 8px;
    }
    &:nth-child(2) {
      border-radius: 0 8px 8px 0;
      border-left-color: black !important;
    }
    &.active {
      @extend %dashboard-toggle-active;
    }
  }
}

.dashboard-cumulative-tests {
  display: flex;
  flex-direction: column;
}

.small-multiples-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @media screen and (min-width: $viewport-lg) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem;
  }
}

.chart-legend {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  list-style-type: none;
  margin: 0;

  .dashboard-cumulative-tests & {
    flex-direction: column;
    margin: 2rem 0 0;

    @media screen and (min-width: $viewport-ms) {
      flex-direction: row;
    }

    @media screen and (min-width: $viewport-lg) {
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0;
    }
  }

  li {
    align-items: center;
    display: flex;
    line-height: 1.2;
    margin: 0 2rem 0 0;
    white-space: nowrap;

    .dashboard-cumulative-tests & {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (min-width: $viewport-ms) {
        margin: 0 2rem 0 0;
      }

      @media screen and (min-width: $viewport-lg) {
        margin: 0 0 0 2rem;

        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }
}

.chart-legend-color {
  display: inline-block;
  height: 14px;
  margin: 0 8px 0 0;
  width: 14px;

  &.chart-legend-stay-at-home {
    background-color: #000;
    height: 20px;
    margin: 0 14px 0 6px;
    vertical-align: middle;
    width: 1px;
  }
}

.chart-legend-note {
  font-size: 14px;
  color: #676b6d;
}

.tips-section-title {
  font-size: 1.1em;
  font-weight: bold;
}

.chart-controls {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.chart-tests-toggle {
  margin-bottom: 1rem;
  max-width: 260px;
  padding: 0 5px;
}

$small-multiples-chart-gutter: 1%;

.small-multiples-chart {
  line-height: 1rem;
  padding: 0 ($small-multiples-chart-gutter * 2);
  width: 50%;

  svg {
    background-color: $color-slate-100;
  }

  @media screen and (min-width: $viewport-sm) {
    padding: 0 $small-multiples-chart-gutter;
    width: calc(100% / 3);
  }

  @media screen and (min-width: $viewport-ms) {
    width: calc(100% / 4);
  }

  @media screen and (min-width: $viewport-md) {
    width: calc(100% / 5);
  }

  @media screen and (min-width: $viewport-xl) {
    width: calc(100% / 7);
  }
}

.small-multiples-chart__see-all-link {
  display: inline-block;
  margin-bottom: 0.4rem;
  white-space: nowrap;

  h4 {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
  }
}

.small-multiples-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 - ($small-multiples-chart-gutter * 2);

  @media screen and (min-width: $viewport-sm) {
    margin: 0 - $small-multiples-chart-gutter;
  }
}

.small-multiples-chart-container--collapsed {
  .small-multiples-chart {
    @media screen and (max-width: #{$viewport-sm - 1}) {
      &:nth-child(n + 7) {
        display: none;
      }
    }

    @media screen and (max-width: #{$viewport-ms - 1}) {
      &:nth-child(n + 13) {
        display: none;
      }
    }

    @media screen and (max-width: #{$viewport-md - 1}) {
      &:nth-child(n + 17) {
        display: none;
      }
    }

    @media screen and (max-width: #{$viewport-xl - 1}) {
      &:nth-child(n + 21) {
        display: none;
      }
    }
  }
}

.small-multiples-chart-collapse-button {
  align-self: flex-start;
  margin-bottom: 2rem;

  @media screen and (min-width: $viewport-xl) {
    display: none;
  }
}

.chart-expand-button {
  background-color: #f2f5fc;
  border: 0.08rem solid #788598;
  border-radius: 8px;
  cursor: pointer;
  cursor: pointer;
  text-align: center;
  padding: 0.4rem;
  float: left;
  color: #4c5559;

  p {
    color: #000000;
    font-size: 10pt;
    top: -0.2rem;
    margin-bottom: 0.2rem;
    text-align: left;
    width: 86%;
  }
}

.subhead {
  font-weight: lighter;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 70px;
}

.notes-section {
  font-size: 14px;
  color: #676b6d;
  margin-top: 2.77rem;

  p {
    margin-bottom: 0;
  }
}

.source-section {
  margin-top: 0.56rem;
}

.byline-section {
  margin-top: 2.22rem;
}
