.dashboard-button {
  color: #000;
  border-color: #000;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  margin: 0 0 2rem;
  padding: 2px 15px;
}

.us-area-chart-container {
  margin: 50px auto;
  max-width: 800px;
}

ul.chart-legend {
  background-color: #fff;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-start;
  margin-left: 0;
  padding: 0.1rem 0 0.5rem;
  position: sticky;
  top: 0rem;
  width: 100%;

  @media screen and (min-width: 960px) {
    flex-direction: row;
  }

  li {
    display: flex;
    line-height: 1.2;
    margin: 1rem 2rem 0 0;

    @media screen and (min-width: 960px) {
      flex-direction: row;
    }
  }
}

.chart-legend-color {
  display: inline-block;
  height: 0.7rem;
  margin: 0.1rem 0.5rem 0 0;
  width: 0.7rem;
}

.chart-legend-note {
  font-size: 12px;
}

.chart-controls {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.chart-tests-toggle {
  margin-bottom: 1rem;
  max-width: 260px;
  padding: 0 5px;
}

$small-multiples-chart-bp-sm: 480px;
$small-multiples-chart-bp-md: 800px;
$small-multiples-chart-bp-lg: 1200px;

.small-multiples-chart {
  line-height: 1rem;
  padding: 0 1%;
  width: 50%;

  @media screen and (min-width: $small-multiples-chart-bp-sm) {
    width: calc(100% / 4);
  }

  @media screen and (min-width: $small-multiples-chart-bp-md) {
    width: calc(100% / 5);
  }

  @media screen and (min-width: $small-multiples-chart-bp-lg) {
    width: calc(100% / 7);
  }

  h4 {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }
}

.small-multiples-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.small-multiples-chart-container--collapsed {
  .small-multiples-chart {
    @media screen and (max-width: #{$small-multiples-chart-bp-sm - 1}) {
      &:nth-child(n + 7) {
        display: none;
      }
    }

    @media screen and (max-width: #{$small-multiples-chart-bp-md - 1}) {
      &:nth-child(n + 17) {
        display: none;
      }
    }

    @media screen and (max-width: #{$small-multiples-chart-bp-lg - 1}) {
      &:nth-child(n + 21) {
        display: none;
      }
    }
  }
}

.small-multiples-chart-collapse-button {
  @media screen and (min-width: $small-multiples-chart-bp-lg) {
    display: none;
  }
}

.small-multiples-chart__see-all-link {
  font-size: 12px;
}
