%dashboard-toggle-active {
  color: black;
  border-color: black;
  font-weight: 500;
}

%dashboard-toggle-inactive {
  color: lightgray;
  border: solid lightgray 2px;
  font-weight: initial;
}

.dashboard-toggle {
  align-self: flex-start;
  cursor: pointer;
  display: flex;

  span {
    @extend %dashboard-toggle-inactive;
    font-size: 14px;
    margin: -1px;
    padding: 2px 15px;
    white-space: nowrap;

    &:nth-child(1) {
      border-radius: 8px 0 0 8px;
    }
    &:nth-child(2) {
      border-radius: 0 8px 8px 0;
      border-left-color: black !important;
    }
    &.active {
      @extend %dashboard-toggle-active;
    }
  }
}

.dashboard-cumulative-tests {
  display: flex;
  flex-direction: column;
}

.us-area-chart-container {
  margin: 50px auto;
  max-width: 800px;
}

.small-multiples-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

$chart-header-bp-md: 640px;
$chart-header-bp-lg: 960px;

.chart-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @media screen and (min-width: $chart-header-bp-lg) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem;
  }
}

.chart-legend {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  list-style-type: none;
  margin: 1.5rem 0 0;

  @media screen and (min-width: $chart-header-bp-md) {
    flex-direction: row;
  }

  @media screen and (min-width: $chart-header-bp-lg) {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
  }

  li {
    align-items: center;
    display: flex;
    line-height: 1.2;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $chart-header-bp-md) {
      margin: 0 2rem 0 0;
    }

    @media screen and (min-width: $chart-header-bp-lg) {
      margin: 0 0 0 2rem;
    }
  }
}

.chart-legend-color {
  display: inline-block;
  height: 14px;
  margin: 0 8px 0 0;
  width: 14px;

  &.chart-legend-stay-at-home {
    background-color: #000;
    height: 20px;
    margin: 0 14px 0 6px;
    verticalalign: middle;
    width: 2px;
  }
}

.chart-legend-note {
  font-size: 12px;
}

.small-multiples-chart {
  line-height: 1rem;
  padding: 0 1%;
  width: 50%;

  @media screen and (min-width: 480px) {
    width: calc(100% / 4);
  }

  @media screen and (min-width: 800px) {
    width: calc(100% / 5);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 7);
  }

  h4 {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }

  h5 {
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }
}

.axis-labels {
  fill: #828688;
  text-anchor: end;
  font-size: 10pt;
}

.chart-expand-button {
  background-color: #f2f5fc;
  border: 0.08rem solid #788598;
  border-radius: 8px;
  cursor: pointer;
  cursor: pointer;
  text-align: center;
  padding: 0.4rem;
  float: left;
  color: #4c5559;

  p {
    color: #000000;
    font-size: 10pt;
    top: -0.2rem;
    margin-bottom: 0.2rem;
    text-align: left;
    width: 86%;
  }
}

.gridlines {
  opacity: 0.7;
}
