.us-area-chart-container {
  margin: 50px auto;
  max-width: 800px;
}

.small-multiples-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.chart-legend {
  background-color: #fff;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-start;
  margin-left: 0;
  padding: 0.1rem 0 0.5rem;
  position: sticky;
  top: 0rem;
  width: 100%;

  @media screen and (min-width: 960px) {
    flex-direction: row;
  }

  li {
    display: flex;
    line-height: 1.2;
    margin: 1rem 2rem 0 0;

    @media screen and (min-width: 960px) {
      flex-direction: row;
    }
  }
}

.chart-legend-color {
  display: inline-block;
  height: 0.7rem;
  margin: 0.1rem 0.5rem 0 0;
  width: 0.7rem;
}

.chart-legend-note {
  font-size: 12px;
}

.small-multiples-chart {
  padding: 0 1%;
  width: 50%;

  @media screen and (min-width: 480px) {
    width: calc(100% / 4);
  }

  @media screen and (min-width: 800px) {
    width: calc(100% / 5);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 7);
  }

  h4 {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 0.4rem;
  }
}

.small-multiples-chart__see-all-link {
  font-size: 12px;
}
