//this should be hoisted to a dashboard constant .scss file
$positive-color: #e5a968;
$total-color: #696dc2;
$death-color: #404856;

#state-map {
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 500px) {
    margin-top: 20px;
  }

  p,
  h2 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  .hovered-states {
    pointer-events: none;
  }
}

#map-dek {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 500px) {
    * {
      text-align: left;
    }
  }

  .label {
    text-align: center;
  }
}

.legend-text {
  border-bottom: solid 3px;
  &.total {
    border-color: $total-color;
  }
  &.positive {
    border-color: $positive-color;
  }
}
#map-time-scrubber {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  label {
    display: none;
  }
  #map-start-stop {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;

    &.start {
      border-style: solid;
      border-width: 8px 0px 8px 16px;
      border-color: transparent transparent transparent #202020;
    }

    &.stop {
      border: solid black 8px;
    }
  }
  #map-start-stop-controls {
    display: flex;
    align-items: center;
    margin: 6px 0;
    width: 150px;

    // cross-browser compatible range styling from http://danielstern.ca/range.css/
    input[type='range'] {
      -webkit-appearance: none;
      width: 100%;
      margin: 5px 0;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: #edf1f2;
        border-radius: 5px;
        border: 1px solid #b7bcbd;
      }

      &::-webkit-slider-thumb {
        border: 1px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6px;
      }

      &:focus::-webkit-slider-runnable-track {
        background: #edf1f2;
      }

      &::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: #edf1f2;
        border-radius: 5.5px;
        border: 1px solid #b7bcbd;
      }

      &::-moz-range-thumb {
        border: 1px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #ffffff;
        cursor: pointer;
      }

      &::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      &::-ms-fill-lower {
        background: #dee5e7;
        border: 1px solid #b7bcbd;
        border-radius: 11px;
      }

      &::-ms-fill-upper {
        background: #edf1f2;
        border: 1px solid #b7bcbd;
        border-radius: 11px;
      }

      &::-ms-thumb {
        border: 1px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #ffffff;
        cursor: pointer;
        height: 10px;
      }

      &:focus::-ms-fill-lower {
        background: #edf1f2;
      }

      &:focus::-ms-fill-upper {
        background: #edf1f2;
      }
    }
  }
  #map-start-stop-label {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    &.column {
      white-space: nowrap;
    }
  }
}
