//this should be hoisted to a dashboard constant .scss file
$positive-color: #e5a968;
$total-color: #696dc2;
$death-color: #404856;

.container {
  :focus {
    outline: none;
  }
}

#state-map {
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 500px) {
    margin-top: 20px;
  }

  p,
  h2 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  path:hover {
    stroke: black;
    stroke-width: 2px;
  }
}

#map-dek {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 500px) {
    * {
      text-align: left;
    }
  }

  .label {
    text-align: center;
  }
}

%map-toggle-active {
  color: black;
  border-color: black;
  font-weight: 500;
}
%map-toggle-inactive {
  color: lightgray;
  border: solid lightgray 2px;
  font-weight: initial;
}

#map-style-button {
  cursor: pointer;
  width: 100%;
  span {
    @extend %map-toggle-inactive;
    display: inline-block;
    font-size: 14px;
    margin: -1px;
    padding: 2px 15px;
    &:nth-child(1) {
      border-radius: 8px 0 0 8px;
    }
    &:nth-child(2) {
      border-radius: 0 8px 8px 0;
      border-left-color: black !important;
    }
    &.active {
      @extend %map-toggle-active;
    }
  }
}

.legend-text {
  border-bottom: solid 3px;
  &.total {
    border-color: $total-color;
  }
  &.positive {
    border-color: $positive-color;
  }
}
#map-time-scrubber {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  label {
    display: none;
  }
  #map-start-stop {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;

    &.start {
      border-style: solid;
      border-width: 8px 0px 8px 16px;
      border-color: transparent transparent transparent #202020;
    }

    &.stop {
      border: solid black 8px;
    }
  }
  #map-start-stop-label {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    &.column {
      white-space: nowrap;
    }
  }
  &[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  input {
    flex-grow: 1;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 13px;
      border: solid lightgray 1px;
      background: white;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 13px;
      border: solid lightgray 1px;
      background: white;
      cursor: pointer;
    }
  }
}
