@import '~scss/breakpoints.module.scss';
@import '~scss/helpers.module.scss';

.header {
  font-size: toRem(30);
  line-height: 1.25;
  font-weight: bold;
  margin-top: 0;
  @media (min-width: $viewport-ms) {
    font-size: 2rem;
  }
  @media (min-width: $viewport-md) {
    font-size: toRem(36);
  }
  @media (min-width: $viewport-lg) {
    max-width: 38rem;
    font-size: toRem(36);
  }
  @media (min-width: $viewport-xl) {
    font-size: toRem(48);
  }
}
