@import '~scss/breakpoints.module.scss';
@import '~scss/helpers.module.scss';

.text {
  @media (min-width: $viewport-lg) {
    font-size: toRem(23);
    max-width: 38rem;
  }
  @media (min-width: $viewport-xl) {
    max-width: 50rem;
  }
}
