.root {
  border: solid black 1px;
  position: fixed;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  text-transform: lowercase;
  width: 225px;
}
