@import '~scss/helpers.module.scss';
@import '~scss/type.module.scss';

.root {
  width: 240px;
  @include padding(8);
  display: flex;
  flex-direction: column;
  position: fixed;

  background-color: white;
  border: solid black 1px;

  @include type-size(200);
  text-transform: lowercase;

  pointer-events: none;
}
