@import '../colors.scss';
@import '../breakpoints.scss';

.data-state {
  .state-notes {
    font-size: 0.8rem;
  }

  p {
    margin-bottom: 0;
  }
}

.top-link {
  color: $color-grey-4;
  margin-top: 1.8rem;
  display: inline-block;
}

li {
  margin-bottom: 0;
}

.data-states-header {
  position: relative;
  @media (min-width: $viewport-ms) {
    background: white;
    position: sticky;
    top: 0;
    width: calc(100% + 1px); // this hides the table borders that otherwise appear on the top right
  }
  @media (min-width: $viewport-md) and (max-width: $viewport-lg) {
    width: calc(100vw - 3rem);
    padding-right: 3rem;
  }
  @media (min-width: $viewport-ms) and (max-width: $viewport-md) {
    width: calc(100vw - 1.5rem);
    padding-right: 1.5rem;
  }
  h2 {
    margin: 0;
  }
  .inner-data-states-header {
    border-bottom: 2px solid $color-grey-6;
    width: 100%;
  }
}

.state-combobox-nav {
  label {
    font-weight: bold;
    display: inline-block;
  }

  [data-reach-combobox] {
    margin: 0.3rem 0;
    @media (min-width: $viewport-ms) {
      display: inline-block;
      margin-left: 1rem;
    }
  }
  input {
    padding: 0.3rem;
    border: 1px solid $color-grey-4;
  }
}

.state-combobox-popover {
  [data-user-value] {
    font-weight: bold;
  }
  [data-suggested-value] {
    font-weight: normal;
  }
}

.state-nav {
  display: none;
  h3 {
    margin-bottom: 0.5rem;
  }

  li {
    display: inline;
    padding: 0.25rem 0.75rem;
  }

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
