@import '../colors.scss';

.homepage-visualizations {
  img {
    margin-bottom: 0.8rem;
  }
  p {
    margin: 0;
  }
  a {
    font-weight: bold;
  }
}

.homepage-press-list-more {
  font-weight: bold;
  float: right;
}

.homepage-get-involved {
  a {
    height: 100%;
    background: $color-secondary-light;
    font-size: 1.2rem;
    display: block;
    color: $color-secondary-darkest;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
