.container {
  li {
    @include margin(32, bottom);

    p.section-label {
      @include margin(16, bottom);
    }
  }
}

.current-state {
  font-weight: bold;
  color: $color-slate-700;
  background-color: $color-slate-200;
  border-radius: 4px;
  padding: 1rem;
}
