.preview {
  @include margin(16, top);
}

.license-info {
  @include margin(16, top);
  a {
    color: inherit;
  }
}

.download-graphic {
  @include margin(32, top);
}

.click-to-share {
  @include margin(16, (top, bottom));
}

.social-sharing {
  width: 8rem;
  margin: 0 auto;
}

.share-wrapper {
  border: 2px solid $color-slate-200;
  @include margin(32, bottom);
}
