.footer {
  background-size: auto 300%;
  background-color: $color-plum-550;
  color: white;
  margin-top: spacer(32);
  // STYLE CHECK
  // margin-top: 3rem;
  padding: spacer(32) 0;

  @media (max-width: $viewport-ms) {
    .footer-list {
      flex-direction: column;
    }
  }

  @media (min-width: $viewport-ms) {
    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  img {
    width: toRem(176);
    margin: 0;
    margin-right: 1rem;
  }
  a {
    &:focus {
      @include link-focus-dark-bg;
    }
    &:hover {
      @include link-hover-dark-bg;
    }
  }
  .footer-list {
    list-style-type: none;
    margin: 0 0 0 spacer(64);
    // STYLE CHECK
    // margin: 0 0 0 49px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    @media (min-width: $viewport-md) {
      margin: 0;
    }

    @media (min-width: $viewport-sm) {
      li {
        display: inline-block;
        margin: spacer(4) 0 spacer(4) spacer(24);
        margin-bottom: 0;
        &:last-of-type {
          margin-right: 0;
        }
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    @media (max-width: $viewport-ms) and (min-width: $viewport-sm) {
      li:first-of-type {
        margin-left: 1.5rem;
      }
    }

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        @include link-hover-dark-bg;
      }
    }
    .back-to-top {
      display: block;
      margin-top: spacer(32);
      font-weight: bold;
      @media (min-width: $viewport-sm) {
        display: inline;
        margin-top: 0;
      }
    }
  }
}

.copyright {
  padding: 1.5rem 2rem 0.5rem;
  text-align: center;
  font-size: 1rem;

  a {
    color: white;
    &:hover {
      @include link-hover-dark-bg;
    }
    &:focus {
      @include link-focus-dark-bg;
    }
  }
}
