@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';
@import '~scss/helpers.module.scss';

.footer {
  background-image: url(~images/hero-bg.svg);
  background-size: auto 300%;
  background-color: $color-plum-550;
  color: white;
  margin-top: spacer(32);
  // STYLE CHECK
  // margin-top: 3rem;
  padding: spacer(32) 0;

  @media (min-width: $viewport-md) {
    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
  img {
    width: toRem(176);
    margin: 0;
  }
  .footer-list {
    list-style-type: none;
    margin: 0 0 0 spacer(64);
    // STYLE CHECK
    // margin: 0 0 0 49px;
    padding: 0;

    @media (min-width: $viewport-md) {
      margin: 0;
    }

    @media (min-width: $viewport-sm) {
      li {
        display: inline-block;
        margin-right: spacer(24);
        margin-bottom: 0;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    a {
      color: white;

      &:hover,
      &:focus {
        color: $color-plum-200;
      }
    }
    .back-to-top {
      display: block;
      margin-top: spacer(32);
      font-weight: bold;
      @media (min-width: $viewport-sm) {
        display: inline;
        margin-top: 0;
      }
    }
  }
}
