@import '~scss/colors.module.scss';
@import '~scss/links.module.scss';
@import '~scss/breakpoints.module.scss';

.footer {
  background-image: url(~images/hero-bg.svg);
  background-size: auto 300%;
  background-color: $color-plum-550;
  color: white;
  margin-top: 3rem;
  padding: 2rem 0;

  @media (min-width: $viewport-md) {
    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
  img {
    width: 176px;
    margin: 0;
  }
  a {
    &:focus {
      @include link-focus-dark-bg;
    }
    &:hover {
      @include link-hover-dark-bg;
    }
  }
  .footer-list {
    list-style-type: none;
    margin: 0 0 0 49px;
    padding: 0;

    @media (min-width: $viewport-md) {
      margin: 0;
    }

    @media (min-width: $viewport-sm) {
      li {
        display: inline-block;
        margin-right: 1.5rem;
        margin-bottom: 0;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    a {
      color: white;
    }
    .back-to-top {
      display: block;
      margin-top: 2em;
      font-weight: bold;
      @media (min-width: $viewport-sm) {
        display: inline;
        margin-top: 0;
      }
    }
  }
}
