@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.circles {
  background: #5667ad;
  background-image: url(../../images/hero-bg.svg);
  background-size: auto 100%;

  .container {
    background: none;
  }
}

.container {
  background: #5667ad;
}

.site-header {
  margin-bottom: 3rem;
  &.no-margin {
    margin-bottom: 0;
  }
  &.show-mobile-menu {
    .container {
      nav {
        display: block;
        @media (min-width: $viewport-lg) {
          display: block;
        }
      }
    }
  }
  .container {
    padding-top: 1.5rem;
    &.show-background {
      background-image: url(../../images/hero-bg.svg);
      background-size: auto 300%;
    }
    .mobile-toggle {
      float: right;
      margin-left: auto;
      background: transparent;
      border: none;
      font-weight: bold;
      color: white;
      cursor: pointer;
      @media (min-width: $viewport-lg) {
        display: none;
      }
    }

    img {
      margin-bottom: 0;
    }

    h1 {
      margin: 35px 0 17.5px;
      font-size: 2.2rem;
      color: white;

      @media (max-width: $viewport-md) {
        margin: 17.5px 0 17.5px;
        font-size: 1.56rem;
      }
    }

    .nav-container {
      display: flex;
      width: auto;
      margin-left: auto;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: bold;
    }

    nav {
      display: none;
      margin-top: 1rem;
      align-self: center;
      break-before: always;

      @media (min-width: $viewport-lg) {
        break-before: auto;
        margin-left: auto;
        display: block;
        margin-top: 0;
        align-items: center;
        float: right;
      }
      ul {
        padding-left: 0;
        margin: 0;
        line-height: 16px;
        list-style-type: none;

        li {
          margin-bottom: 0.5rem;
          @media (min-width: $viewport-lg) {
            display: inline-block;
            padding-right: 30px;
            margin-bottom: 0;
            line-height: 16px;
          }
        }
        a:hover,
        a:focus {
          color: $color-blueberry-100;
        }
        a:hover,
        a[aria-current] {
          border-bottom: 3px solid $color-blueberry-200;
          padding-bottom: 2px;
        }
        a[aria-current] {
          color: white;
        }

        li:last-child {
          padding-right: 0;
        }
      }
    }

    .site-title-container {
      width: auto;
    }

    .title-subnav-container {
      @media (max-width: $viewport-ms) and (min-width: $viewport-sm) {
        flex-direction: column;
      }

      @media (max-width: $viewport-sm) {
        flex-direction: column-reverse;
      }

      @media (max-width: $viewport-ms) {
        margin-top: 0;
        padding-bottom: 17.5px;
      }

      @media (max-width: $viewport-lg) {
        .title {
          width: 100%;
        }
      }

      .tab-container {
        display: flex;

        @media (min-width: $viewport-lg) {
          width: auto;
          margin-left: auto;
        }
      }
    }

    .header-tabs {
      display: block;
      align-self: flex-end;
      margin-left: auto;

      div {
        text-align: left;
      }

      @media (max-width: $viewport-lg) and (min-width: $viewport-ms) {
        margin-left: 0;
      }

      @media (min-width: $viewport-ms) {
        display: inline-block;
      }

      @media (max-width: $viewport-ms) {
        div {
          width: 92vw; /* extend to the far right edge */
          overflow-x: scroll;
          -ms-overflow-style: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        text-align: left;
        background: $color-plum-200;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        @media (max-width: $viewport-ms) {
          display: inline-flex;
          flex-wrap: nowrap;
          border-radius: 5px;

          a {
            border-radius: 5px;
            white-space: nowrap;
          }

          li {
            margin-bottom: 0;
          }
        }

        a {
          color: $color-plum-600;
          display: block;
          padding: 0.4rem 0.6rem;
          font-size: 0.72rem;

          @media (min-width: $viewport-ms) {
            font-size: 16px;
            padding: 0.8rem 1rem;
          }

          &[aria-current] {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background: white;
            color: black;
          }
        }
        li {
          display: inline-block;
          @media (min-width: $viewport-ms) {
            margin: 0;
            &:last-child a {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 0px;
            }
            &:first-child a {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 0px;
            }
          }
        }
      }
    }
  }
}
