@import '../../scss/colors.module.scss';
@import '../../scss/breakpoints.module.scss';

.circles {
  background: #5667ad;
  background-image: url(../../images/hero-bg.svg);
  background-size: auto 100%;

  .container {
    background: none;
  }
}

.tools {
  display: none;
  font-size: 0.81rem;

  @media (min-width: $viewport-lg) {
    display: block;
  }
}

.search-input {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 0.75rem;

  background: transparentize($color-plum-400, 0.2);
  color: white;
  position: relative;
  @media (min-width: $viewport-lg) {
    justify-content: center;
  }
  input {
    width: 100%;
    @media (min-width: $viewport-lg) {
      width: calc(5.6rem - 1.25rem - 1rem);
    }
    margin-left: 0.5rem;

    font-weight: bold;
    border: 0;
    background: transparent;
    color: #f2f2f2;
    transition: width 0.2s;

    &::placeholder {
      color: #f2f2f2;
      opacity: 1;
    }

    &:focus {
      outline: solid 1px #f2f2f2;
      outline-offset: 2px;
      @media (min-width: $viewport-lg) {
        width: calc(9.5rem - 1.25rem - 1rem);
      }
    }
  }
}

.get-involved {
  display: inline-block;
  vertical-align: top;
  padding: 0.4rem 0.5rem;

  font-weight: bold;
  background: #ffffff;
  color: $color-blueberry-500;
  text-decoration: none;

  transition: all 0.2s;

  &:hover,
  &:focus {
    color: $color-blueberry-500;
    background: $color-blueberry-200;
  }

  @media (max-width: $viewport-md) {
    margin-top: 1.75rem;
  }
}

.site-nav-container {
  width: 60%;
  text-align: right;
  @media (min-width: $viewport-md) {
    width: 80%;
  }
}

.atlantic-banner {
  margin-top: 1rem;
  display: flex;
  color: white;
  text-transform: uppercase;
  align-items: center;
  span,
  img {
    display: flex;
    margin-right: 1rem;
  }
  img {
    padding-bottom: 0.2rem;
  }
  span {
    padding-bottom: 0.1rem;
    margin-right: 0.5rem;
    font-size: 0.625rem;
    line-height: 0.8rem;
  }
  div {
    display: flex;
    border-top: 1px solid white;
    width: 100%;
    height: 1px;
    opacity: 0.2;
  }
}

.container {
  background: #5667ad;
}

.site-header {
  margin-bottom: 3rem;
  &.no-margin {
    margin-bottom: 0;
  }

  .mobile-menu {
    background: $color-plum-800;
    position: relative;
    padding: 1rem 1rem 2rem 1rem;
    @media (min-width: $viewport-lg) {
      display: none;
    }
    .mobile-pointer {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 35px;
      bottom: -15px;
      background: $color-plum-800;
      transform: rotate(-45deg);
    }
    nav {
      display: block;
      li {
        margin-bottom: 1.75rem;
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
    .search-input {
      width: 100%;
    }
  }

  .container {
    &.show-background {
      background-image: url(../../images/hero-bg.svg);
      background-size: auto 300%;
    }
  }

  .mobile-toggle {
    background: transparent;
    border: none;
    font-weight: bold;
    margin-top: 1.5rem;
    color: white;
    cursor: pointer;
    @media (min-width: $viewport-lg) {
      display: none;
    }
  }

  img {
    margin-bottom: 0;
  }

  .page-title {
    margin: 35px 0 17.5px;
    font-size: 2.2rem;
    color: white;
    a {
      color: white;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    @media (max-width: $viewport-md) {
      margin: 17.5px 0 17.5px;
      font-size: 1.56rem;
    }
  }

  .nav-container {
    display: flex;
    float: right;
    padding-top: 1rem;
    @media (min-width: $viewport-lg) {
      float: none;
      padding-top: 0;
    }
  }

  nav {
    display: none;
    margin-top: 1.75rem;
    align-self: center;
    break-before: always;
    padding-bottom: 0.5rem;

    @media (min-width: $viewport-lg) {
      display: block;
      margin-top: 1.825rem;
    }

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    ul {
      padding-left: 0;
      margin: 0;
      line-height: 1;
      list-style-type: none;

      li {
        margin-bottom: 0.5625rem;
        @media (min-width: $viewport-lg) {
          display: inline-block;
          padding-right: 30px;
          margin-bottom: 0;
          line-height: 1;
        }
      }
      a {
        padding-bottom: 2px;
      }
      a:hover,
      a:focus {
        color: $color-blueberry-100;
      }
      a:hover,
      a[aria-current] {
        border-bottom: 3px solid $color-blueberry-200;
      }
      a[aria-current] {
        color: white;
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .site-title-container {
    display: flex;
    flex-wrap: wrap;
  }

  .site-title-inner {
    width: 40%;
    display: flex;
    padding-top: 1.5rem;
    @media (min-width: $viewport-md) {
      width: 20%;
    }
  }

  .title-subnav-container {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $viewport-ms) and (min-width: $viewport-sm) {
      flex-direction: column;
    }

    @media (max-width: $viewport-sm) {
      flex-direction: column;
    }

    @media (max-width: $viewport-ms) {
      margin-top: 0;
      padding-bottom: 17.5px;
    }

    @media (max-width: $viewport-lg) {
      .title {
        width: 100%;
      }
    }

    .tab-container {
      display: flex;

      @media (min-width: $viewport-lg) {
        width: auto;
        margin-left: auto;
      }
    }

    .header-tabs {
      display: block;
      align-self: flex-end;
      margin-left: auto;

      div {
        text-align: left;
      }

      @media (max-width: $viewport-lg) and (min-width: $viewport-ms) {
        margin-left: 0;
      }

      @media (min-width: $viewport-ms) {
        display: inline-block;
      }

      @media (max-width: $viewport-ms) {
        div {
          -ms-overflow-style: none;
          min-height: 2em; /* Fix for Safari overflow clip */
          overflow-x: scroll;
          width: 92vw; /* extend to the far right edge */

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      ul {
        background: $color-plum-200;
        border-radius: 0.25em 0.25em 0 0;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        text-align: left;

        a {
          text-decoration: none;
          font-size: 0.9rem;
          font-weight: bold;
        }
        @media (max-width: $viewport-ms) {
          display: inline-flex;
          flex-wrap: nowrap;
          border-radius: 0.25em;

          a {
            border-radius: 0.25em;
            white-space: nowrap;
          }

          li {
            margin-bottom: 0;
          }
        }

        a {
          color: $color-plum-700;
          display: block;
          padding: 0.4rem 0.6rem;
          font-size: 0.72rem;

          @media (min-width: $viewport-ms) {
            font-size: 1rem;
            padding: 0.8em 1em;
          }

          &[aria-current] {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background: white;
            color: black;
          }
        }
        li {
          display: inline-block;
          @media (min-width: $viewport-ms) {
            margin: 0;
            &:last-child a {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 0px;
            }
            &:first-child a {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 0px;
            }
          }
        }
      }
    }
  }
}
