@import '../../scss/colors.module.scss';

.banner {
  background: rgba(0, 0, 0, 0.25);
  color: $color-blueberry-200;
  text-align: center;
  padding: 11px 0;
  a {
    color: white;
    text-decoration: none;
  }
  .new {
    font-variant: small-caps;
    display: inline-block;
    margin-right: 1rem;
  }
}
