@import '../../scss/colors.module.scss';

.popover {
  background: $color-plum-400;
  border: none;
  font-size: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  font-weight: normal;
  text-align: left;
  padding: 0.5rem 0;
  [data-suggested-value] {
    font-weight: normal;
  }
  ul {
    margin-bottom: 0;
  }
  li {
    &:hover,
    &:focus,
    &[aria-selected='true'] {
      background: $color-plum-500;
    }
  }
}
