.number {
  @include type-size(500);
  @include padding(16, top bottom);
  @include col(4 2 12, 0 0 0, 0 0 0);
  border-bottom: 1px solid $color-slate-400;
  .label {
    margin: 0;
    @include type-size(200);
  }
}

.header {
  @include type-size(300);
}

.related-post {
  background: #d8d8d8;
  @include padding(16);
  @media (min-width: $viewport-md) {
    height: 100%;
    margin-bottom: -40px; // ignore-style-rule
  }
  .date {
    color: $color-slate-700;
    @include type-size(100);
    @include margin(16, bottom);
  }
  a {
    text-decoration: none;
    color: #373b88;
  }
  .title {
    @include type-size(300);
    @include margin(16, top bottom);
  }
}

.related-flex {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}
