.container {
  position: relative;
  @include padding(24);
  width: 1300px;
  height: 630px;
  border: 3px solid $color-slate-800;
  background: white;
  > * {
    position: absolute;
  }
  font: normal 100%/1.5 'system-ui', '-apple-system', 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.grid {
  display: grid;
  width: 900px;
  left: 150px;
  grid-template-rows: auto;
  grid-template-columns: [race-labels-start] 110px [race-labels-end case-bars-start] 1fr [case-bars-end death-bars-start] 1fr [death-bars-end];
  column-gap: 15px;

  .header {
    @include type-size(500);
    grid-area: 1 / race-labels-end / 2 / death-bars-end;
    margin: 0;
    margin-bottom: 20px;
  }

  .bar-header {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .cases-header {
    grid-area: 2 / case-bars-start / 3 / case-bars-end;
  }

  .deaths-header {
    grid-area: 2 / death-bars-start / 3 / death-bars-end;
    margin-left: 45px;
  }

  .cases-header, .deaths-header {
    justify-self: start;
    align-self: end;
  }

  .bar-label {
    justify-self: end;
    align-self: center;
    margin-bottom: 10px;
  }

}

.logo {
  width: 150px;
  right: 20px;
  bottom: 20px;
  opacity: 0.3;
}

.percent {
  width: 700px;
  left: 250px;
  bottom: 20px;
  color: $color-slate-700;
}

.bar {
  height: 35px;
  width: 15px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 14px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  &.barBlack {
    background: $qualitative-color-palette-300;
  }
  &.barLatinx {
    background: $qualitative-color-palette-400;
  }
  &.barAll {
    background: $color-slate-400;
  }
  &.barAsian {
    background: $color-plum-800;
    color: white;
  }
  &.barAian {
    background: $qualitative-color-palette-600;
    color: white;
  }
  &.barWhite {
    background: $qualitative-color-palette-200;
    color: white;
  }
  &.barNhpi {
    background: $qualitative-color-palette-500;
    color: white;
  }
  &.death-bar {
    margin-left: 45px;
  }
}
