.container {
  position: relative;
  @include padding(24);
  width: 1200px;
  height: 800px;
  border: 3px solid $color-slate-800;
  background: white;
  > * {
    position: absolute;
  }
  font-family: 'Arial, sans-serif';  // todo update this to font stack
}

.grid {
  display: grid;
  width: 1000px;
  left: 150px;
  grid-template-rows: auto;
  grid-template-columns: [race-labels-start] 2fr [race-labels-end case-bars-start] 3fr [case-bars-end death-bars-start] 3fr [death-bars-end];
  column-gap: 10px;

  .cases-header {
    grid-area: 1 / case-bars-start / 2 / case-bars-end;
  }

  .deaths-header {
    grid-area: 1 / death-bars-start / 2 / death-bars-end;
  }

  .cases-header, .deaths-header {
    justify-self: center;
    align-self: end;
  }

}

.logo {
  width: 150px;
  right: 20px;
  bottom: 20px;
  opacity: 0.3;
}

.header {
  @include type-size(500);
  width: 800px;
  left: 250px;
  margin: 0;
}

.percent {
  width: 700px;
  left: 250px;
  bottom: 20px;
  color: $color-slate-700;
}

.labels {
  width: 230px;
  left: 0;
  top: 230px;
  @include type-size(400);
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    text-align: right;
    margin-bottom: 15px;
  }
}

.bar-label {
  font-weight: bold;
  height: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.bar {
  height: 35px;
  width: 40px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 14px;
  &.barBlack {
    background: $qualitative-color-palette-300;
  }
  &.barLatinx {
    background: $qualitative-color-palette-400;
  }
  &.barAll {
    background: $color-slate-400;
  }
  &.barAsian {
    background: $color-plum-800;
    color: white;
  }
  &.barAian {
    background: $qualitative-color-palette-600;
    color: white;
  }
  &.barWhite {
    background: $qualitative-color-palette-200;
    color: white;
  }
  &.barNhpi {
    background: $qualitative-color-palette-500;
    color: white;
  }
}
