.item {
  @include margin(32, bottom);
  &:last-child {
    margin-bottom: 0;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  .states {
    flex-grow: 1;

    .title {
      @include padding(24, bottom);
      @include margin(0, bottom);
      border-bottom: 1px solid $color-slate-200;
      line-height: 1;
      @include type-size(500);
    }
  }

  .states-wrapper {
    @include margin(80, right);
  }

  .sidebar {
    padding-top: 0.75rem; // ignore-style-rule
  }
}
