.header {
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: spacer(16);
    @media (min-width: $viewport-md) {
      margin-top: toRem(-50);
      padding-top: toRem(50);
      display: inline-block;
    }
  }

  @media (min-width: $viewport-md) {
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
  }
}

.notes {
  max-width: 40rem;
  p {
    margin-bottom: 0;
  }
}

.top-link {
  color: $color-slate-600;
  margin-top: spacer(32);
  display: inline-block;
}

.state-links-header {
  display: flex;
  align-items: flex-end;
  button {
    @include margin(16, right);
  }

  @media (max-width: $viewport-md) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
