@import '../../../scss/colors.module.scss';
@import '../../../scss/breakpoints.module.scss';

.header {
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0.5rem;
    @media (min-width: $viewport-md) {
      margin-top: -50px;
      padding-top: 50px;
      display: inline-block;
    }
  }

  @media (min-width: $viewport-md) {
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
  }
}

.notes {
  max-width: 40rem;
  p {
    margin-bottom: 0;
  }
}

.top-link {
  color: $color-slate-600;
  margin-top: 1.8rem;
  display: inline-block;
}
