.state-nav {
  h3 {
    margin-bottom: spacer(8);
  }

  li {
    display: inline;
    padding: spacer(4) spacer(16);
  }

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
