@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.header {
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: spacer(16);
    @media (min-width: $viewport-md) {
      margin-top: toRem(-50);
      padding-top: toRem(50);
      display: inline-block;
    }
  }

  @media (min-width: $viewport-md) {
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
  }
}

.notes {
  max-width: 40rem;
  p {
    margin-bottom: 0;
  }
}

.top-link {
  color: $color-slate-600;
  margin-top: spacer(32);
  display: inline-block;
}
