.header {
  margin-bottom: spacer(8);
  @media (min-width: $viewport-lg) {
    @include padding(16, bottom);
    border-bottom: 1px solid $color-plum-300;
    @include margin(16, bottom);
  }
}

.container {
  @media (min-width: $viewport-lg) {
    width: 16.7%;
    min-width: 13rem;
  }
}

.content {
  li {
    padding: spacer(4) 0;
    display: inline-flex;
    width: 50px;
    justify-content: center;
  }

  ul {
    list-style: none;
    @include padding(0, left);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
