.header {
  margin-bottom: spacer(8);
}

.container {
  li {
    padding: spacer(4) 0;
    display: inline-flex;
    width: 50px;
    justify-content: center;
  }

  ul {
    list-style: none;
    @include padding(0, left);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
