body {
  background-color: white;
}

.wrapper {
  font: normal 100%/1.5 'Helvetica', 'Arial', 'sans-serif';
  @include margin(24);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 425px; // 473 - (24px * 2)
}

.wrapper.square {
  height: 652px; // 700px - (24px * 2)
}

.square {
  .grid {
    width: 630px;
    left: 35px;
    top: 80px;

    // reduce race labels area to 112px instead of 150 px
    grid-template-columns: [race-labels-start] 112px [race-labels-end case-bars-start] 238px [case-bars-end death-bars-start] 262px [death-bars-end];

    &.cases-only {
      grid-template-columns: [race-labels-start] 112px [race-labels-end case-bars-start] 1fr [death-bars-end case-bars-end death-bars-start];
    }

    &.deaths-only {
      grid-template-columns: [race-labels-start] 112px [race-labels-end case-bars-start] 1fr [death-bars-end case-bars-end death-bars-start];
    }

    .deaths-header {
      margin-left: 24px;
    }

    .bar {
      * {
        margin-top: 6px;
        line-height: 1.25;
      }
    }
  }
}

.header {
  font-size: 18px; // ignore-style-rule
  text-align: center;
  line-height: 150%;

  margin-right: 125px;
  margin-left: 125px;
}

.square {
  .header {
    margin-right: 45px;
    margin-left: 45px;
  }
  .grid {
    margin-left: 0;
  }
}

.grid {
  display: grid;
  align-self: flex-start;
  margin-left: 16px;
  width: 675px;

  grid-template-rows: auto;
  grid-template-columns: [race-labels-start] 150px [race-labels-end case-bars-start] 240px [case-bars-end death-bars-start] 285px [death-bars-end];
  column-gap: 10px;

  &.cases-only {
    grid-template-columns: [race-labels-start] 150px [race-labels-end case-bars-start] 1fr [death-bars-end case-bars-end death-bars-start];
    .cases-header {
      grid-area: 2 / case-bars-start / 3 / death-bars-end;
    }
  }

  &.deaths-only {
    grid-template-columns: [race-labels-start] 150px [race-labels-end case-bars-start] 1fr [death-bars-end case-bars-end death-bars-start];
    .deaths-header {
      grid-area: 2 / case-bars-start / 3 / case-bars-end;
      margin-left: 0px;
    }
    .death-bar-spacer {
      width: 0px;
    }
  }

  .bar-header {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .cases-header {
    grid-area: 2 / case-bars-start / 3 / case-bars-end;
  }

  .deaths-header {
    grid-area: 2 / death-bars-start / 3 / death-bars-end;
    margin-left: 45px;
  }

  .cases-header, .deaths-header {
    justify-self: start;
    align-self: end;
    font-size: 13px; // ignore-style-rule
  }

  .bar-label {
    justify-self: end;
    align-self: center;
    text-align: right;
  }

  .bar,
  .bar-label {
    margin-bottom: 8px;
    font-size: 13px; // ignore-style-rule
    line-height: 1.15;
  }

}

.footer {
  color: $color-slate-700;
  font-size: 13px; // ignore-style-rule
  line-height: 1.2;
}

.footer {
  display: flex;
  align-items: flex-end;
  margin-left: 16px; // matches grid
  justify-content: space-between;

  .notes {
    margin-top: 13px;
    width: 730px;
    &.national {
      bottom: 0px;
    }
  }
}

.asterisk-footnote {
  margin-top: 8px;
}

.square {
  .footer {
    .notes {
      width: 525px;
    }
  }
}

.ctp-logo {
  width: 26px;
  margin-right: 5px;
}

.car-logo {
  width: 43px;
}

.bar-container {
  display: flex;
  font-size: 13px; // ignore-style-rule
  line-height: 1;
  align-items: flex-start;

  &>span {
    margin-left: 5px;
    margin-top: 6px;
  }
}

.bar {
  height: 25px;
  width: 0px;
  font-size: 13px; // ignore-style-rule
  text-align: right;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  &.has-inner-label {
    padding-right: 10px;
  }

  &.barBlack {
    background: $qualitative-color-palette-300;
  }
  &.barLatinx {
    background: $qualitative-color-palette-400;
  }
  &.barAll {
    background: $color-slate-400;
  }
  &.barAsian {
    background: $color-plum-800;
    color: white;
  }
  &.barAian {
    background: $qualitative-color-palette-600;
    color: white;
  }
  &.barWhite {
    background: $qualitative-color-palette-200;
  }
  &.barNhpi {
    background: $qualitative-color-palette-500;
    color: white;
  }
  &.barAPi {
    background: $color-plum-800;
    color: white;
  }
}

.death-bar-spacer {
  width: 45px;
}

.insufficient-data {
  font-size: 13px;
  line-height: 1;
  padding-top: 6px;
  color: $color-slate-600;

  &.insufficient-data-deaths {
    margin-left: 45px;
  }
}

.square {
  .bar {
    height: 35px;
  }
  .bar-container {
    span {
      margin-left: 5px;
      margin-top: 13px;
    }
  }
  .death-bar-spacer {
    width: 24px;
  }
  .insufficient-data.insufficient-data-deaths {
    margin-left: 24px;
    padding-top: 11px;
  }
}

.no-data-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include type-size(300);
  padding: 116px 180px; // ignore-style-rule

  .logos-container {
    display: flex;
    margin-top: 16px;
    justify-content: center;

    .ctp-logo {
      width: 26px;
      margin-right: 6px;
    }

    .car-logo {
      width: 43px;
    }
  }

  &.square {
    outline: 2px solid red;
    border: 2px solid blue;
    // padding: 60px 170px; // ignore-style-rule
    padding: 170px 60px; // ignore-style-rule

    .alert {
      width: 90px;
      margin-bottom: 8px;
    }

    p {
      margin: 1rem 0;
    }

    .get-better-data {
      min-width: 500px;
    }
  }

  .alert {
    width: 60px;
    margin: 0 auto;
  }

  p {
    text-align: center;
    margin: 0.5rem; // ignore-style-rule
  }

  .get-better-data {
    background-color: $color-plum-100;
    padding: 1rem 1.5rem; // ignore-style-rule
  }
}
