.btn {
  display: inline-block;
  padding: .75em 1.25em;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $color-btn;
  border-radius: .5em;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color-btn--active;
  }

  &:active {
    color: #fff;
    background-color: darken($color-btn, 5%);
    border-color: darken($color-btn, 5%);
  }
}
