.site-footer {
  border-top: 3px solid $border-color;
  padding: 30px 0;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    &.pages {
      @media (max-width: $viewport-md) {
        flex-direction: column;

        li + li {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }

    a {
      text-decoration: none;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }

    &.pages a {
      font-weight: 700;
      color: black;
    }

    &.follow a {
      font-weight: 400;
      color: $text-color-light;
    }

    li + li {
      margin-left: 15px;
    }

    .active a {
      text-decoration: underline;
    }
  }
}
