*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body, h1, h2, h3, h4,
ol[class], ul[class] {
  margin: 0;
  padding: 0;
}
img, svg {
  max-width: 100%;
}

.a11y-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.a11y-only.focusable:active,
.a11y-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.hidden,
[aria-hidden="true"] {
  display: none;
}

*:focus {
  outline: 2px dotted $fore;
}

body {
  font-family: $body;
  line-height: 1.4;
  color: $text-color-dark;
  background-color: #fff;
}

// Content between header and footer
.body {
  font-size: $size-3;
  margin-bottom: 4em;
}

a {
  color: $color-link;

  &:hover,
  &:focus {
    color: $color-link--active;
    text-decoration: none;
  }
}

.text-left {
  text-align: left;
}
