.site-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid $border-color;

  @media (min-width: $viewport-md) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  .container {
    @media (min-width: $viewport-md) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.site-title {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: $size-3;
  font-weight: 700;
  text-decoration: none;
  transition: opacity 0.3s;

  @media (min-width: $viewport-md) {
    font-size: $size-4;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
  &.active {
    color: inherit;
    text-decoration: none;
  }
}

.site-nav {
  display: flex;
  list-style-type: none;

  li + li {
    margin-left: 1rem;
  }

  a {
    font-weight: 700;
    padding-bottom: .5em;
    padding-top: .5em;
    text-decoration: none;

    &.active {
      color: inherit;
    }
  }
}
