.container {
  margin: 0 30px;

  @media (min-width: $viewport-md) {
    margin: 0 auto;
  }

  @media (min-width: $viewport-md) { width: 80%; }
  @media (min-width: $viewport-lg) { width: 95%; }
  @media (min-width: $viewport-xl) { max-width: 1200px; }
  
}

.body {
  padding: 30px 0;
  @media (min-width: $viewport-md) { padding: 50px 0; }

  h1 {
    text-transform: uppercase;
    font-size: $size-4;
    margin-bottom: 30px;

    @media (min-width: $viewport-md) {
      font-size: $size-5;
      margin-bottom: 50px;
    }
  }

  h2 {
    font-size: $size-3;
    margin-top: 30px;
    margin-bottom: 15px;

    @media (min-width: $viewport-md) {
      margin-top: 50px;
      margin-bottom: 15px;
    }
  }

  h3, h4 {
    font-size: $size-2;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  // Temporary style for emphasis
  h3 a {
    color: white;
    font-size: $size-5;
    text-decoration: none;
    background-color: black;
    padding: 15px;
    display: inline-block;
  }

  p, li {
    color: $text-color-dark;
    font-size: $size-3;
    line-height: 1.4;

    margin-bottom: 15px;

    @media (min-width: $viewport-md) {
      margin-bottom: 30px;
      width: 75%;
    }

    a {
      color: $text-color-dark;
      text-decoration-color: $text-color-light;
    }
  }

  li {
    margin-bottom: 7px;
    @media (min-width: $viewport-md) {
      margin-bottom: 15px;
    }
  }

  li ul {
    margin-left: 15px;
    margin-top: 10px;
    li {
	  @media (min-width: $viewport-md) {
		width: auto;
	  }
    }
  }

  p.lede {
    @media (min-width: $viewport-md) {
      font-size: $size-5;
      line-height: 1.6;
      width: 90%;
    }
  }

  p.updated {
    color: $alert-color;
  }
}

table {
  border-collapse: collapse;
  font-size: $size-1;
  @media (min-width: $viewport-md) {
    font-size: $size-2;
  }
  width: 100%;

  &,
  th,
  td {
    border: 1px solid #AAA;
  }
  caption,
  th,
  td {
    padding: 0.25em;
    @media (min-width: $viewport-md) {
      padding: 0.45em;
    }
  }
  caption {
    font-size: $size-3;
    font-weight: bold;
  }
  th {
    font-weight: normal;
  }
}
