.container {
  margin-right: 2rem;
  margin-left: 2rem;

  @media (min-width: $viewport-md) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $viewport-md) { width: 80%; }
  @media (min-width: $viewport-lg) { width: 95%; }
  @media (min-width: $viewport-xl) { max-width: 1200px; }
}

h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: $size-4;

  @media (min-width: $viewport-md) {
    margin-bottom: 3rem;
    font-size: $size-5;
  }
}

h2 {
  font-size: $size-3;
  margin-top: 2rem;
  margin-bottom: 1rem;

  @media (min-width: $viewport-md) {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

h3, h4 {
  font-size: $size-2;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;

  @media (min-width: $viewport-md) {
    width: 75%;
    margin-bottom: 2rem;
  }
}

.lede {
  @media (min-width: $viewport-md) {
    width: 90%;
    font-size: $size-5;
    line-height: 1.6;
  }
}

.updated {
  color: $alert-color;
}

// Limit some styles to .body to avoid nav collision
.body {
  li {
    margin-bottom: .5rem;

    ul {
      margin-bottom: 1rem;
    }
    // This is a _very_ hack-y fix for a spacing issue on the software page. (Each top-level title is getting wrapped in a paragraph.)
    & > p:first-child + ul {
      margin-top: -1em;
    }
  }
}
