.press-logos-container p {
  align-items: center;
  display: flex;
  margin: 0;
  flex-wrap: wrap;

  img {
    background-color: white;
    filter: grayscale(1);
    margin: 1rem 1.3rem 1rem 0;
    width: 100px;
  }

  img[alt="The Atlantic logo"] {
    width: 80px;
  }

  img[alt="Politico logo"] {
    width: 100px;
  }

  img[alt="Vox logo"] {
    width: 50px; }
  l

  img[alt="New York Times logo"] {
    width: 180px;
  }

  img[alt="Talking Points Memo logo"] {
    width: 80px;
  }

  img[alt="Minnesota Public Radio News logo"] {
    width: 110px;
  }

  img[alt="The Washington Post logo"] {
    width: 180px;
  }

  img:last-child {
    margin-right: 0;
  }
}
