.us-totals-and-states {
  max-width: 90vw;
  @media (max-width: $viewport-md) {
    max-width: 100vw;
  }
}

// Specificity hack is specific
.us-totals {
  max-width: 60rem;
  margin-bottom: 3em;

  .state-table-caption {
    padding-left: 0;
    text-align: left;
  }
}

.states-nav {
  padding-left: 5px;
  position: fixed;
  right: 1vw;
  top: 150px;

  @media (max-width: $viewport-md) {
    max-width: 100%;
    padding-left: 0;
    position: inherit;
  }

  h4 {
    margin-bottom: 0px;
    text-align: center;
    margin-top: 0px;
  }

  ul {
    margin-top: 0.5em;
    padding-left: 0;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: $viewport-md) {
      display: flex;
    }

    li {
      list-style-type: none;
      text-transform: uppercase;
      padding: 1px;
      margin: 1px;
      text-align: center;
      display: inline-block;
      margin: 4px 14px;
      flex-grow: 1;
    }
  }
}

.states-nav:hover {
  h4 {
    display: none;
  }

  ul {
    display: flex;
    width: 400px;
  }
}

.states-list {
  max-width: 60rem;

  @media (min-width: $viewport-md) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: $size-5;
  }

  .state-item {
    list-style: none;
    margin-bottom: 4em;
    max-width: 22em;
    width: inherit;

    @media (min-width: $viewport-md) {
      margin-bottom: 2em;
    }
    @supports (display: grid) {
      max-width: inherit;
    }
  }
  .state-header {
    display: flex;
    margin-bottom: $size-1;
  }
  .state-link {
    img {
      vertical-align: bottom;
    }
  }

  .top-link {
    display: inline-block;
    margin-right: 5px;
    img {
      vertical-align: middle;
    }
  }

  .state-name {
    font-size: $size-4;
    @media (min-width: $viewport-md) {
      font-size: inherit;
    }
    margin: 0 0.75em 0 0;
  }

  .state-notes {
    max-width: 26rem;
    & > * {
      color: $text-color-light;
      font-size: $size-2;
      width: inherit;
      margin-bottom: 1.25em;
    }
  }
  .state-grade {
    border: solid #7391b0;
    border-radius: 6px;
    font-weight: 500;
    padding: 0 5px 1px;
    background-color: #8badd340;
    color: #3d4f70;
    margin-left: 5px;
  }
}
