.state {
  .state-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
    }
  }

  .screenshot-link {
    margin-right: 1rem;
  }

  .state-info {
    margin-bottom: 2rem;
    @media (min-width: $viewport-md) {
      display: grid;
      grid-template-columns: 7fr 3fr;
      grid-gap: $size-5;
      grid-template-areas: 'note metadata';
    }
    .state-note {
      @supports (display: grid) {
        grid-area: note;
      }
      p {
        width: 100%;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    .state-metadata {
      @supports (display: grid) {
        grid-area: metadata;
      }
    }
  }
}
