// Specificity hack is specific
.us-totals {
  max-width: 60rem;
  margin-bottom: 3em;

  .state-table-caption {
    padding-left: 0;
    text-align: left;
  }
}

.states-list {
  max-width: 60rem;

  @media (min-width: $viewport-md) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: $size-5;
  }

  .state-item {
    list-style: none;
    margin-bottom: 4em;
    max-width: 26em;
    width: inherit;

    @media (min-width: $viewport-md) {
      margin-bottom: 2em;
    }
    @supports (display: grid) {
      max-width: inherit;
    }
  }
  .state-header {
    display: flex;
    margin-bottom: $size-1;
  }
  .state-link {
    img {
      vertical-align: bottom;
    }
  }
  .state-name {
    font-size: $size-4;
    @media (min-width: $viewport-md) {
      font-size: inherit;
    }
    margin: 0 0.75em 0 0;
  }

  .state-notes {
    max-width: 26rem;
    & > * {
      color: $text-color-light;
      font-size: $size-2;
      width: inherit;
      margin-bottom: 1.25em;
    }
  }
  .state-grade {
    border: solid #7391b0;
    border-radius: 6px;
    font-weight: 500;
    padding: 0 5px 1px;
    background-color: #8badd340;
    color: #3d4f70;
    margin-left: 5px;
  }
}
