.state {
  .state-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
    }
  }
  .state-grade {
    border: solid #7391b0;
    border-radius: 6px;
    font-weight: 500;
    padding: 0 5px 1px;
    background-color: #8badd340;
    color: #3d4f70;
    margin-left: 5px;
  }
}
