@font-face {
    font-family: 'Webfont';
    src: url('/_assets/fonts/webfont.woff2') format('woff2'),
        url('/_assets/fonts/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}