$fore: #3c3d34;
$back: #5d5d51;

$border-color: #f3f3f3;

$text-color-dark: #333;
$text-color-light: #666;

$alert-color: #da352b;

$color-link: #546D8E;
$color-link--active: #4A5F85;

$color-btn: #4A5F85;
$color-btn--active: #3D4F70;

// links and headers: #607A9C
// hover links: #4A5F85
// hover headers: #7391B0

$hed: -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$body: -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

$size-1: 13px;
$size-2: 16px;
$size-3: 19px;
$size-4: 24px;
$size-5: 27px;

$viewport-sm:    0px;
$viewport-md:  768px;
$viewport-lg: 1024px;
$viewport-xl: 1200px;
