$fore: #3c3d34;
$back: #5d5d51;

$border-color: #f3f3f3;

$text-color-dark: #333;
$text-color-light: #666;

$hed: 'Webfont', Helvetica, Arial, sans;
$body: 'Webfont', Helvetica, Arial, sans;

$size-1: 13px;
$size-2: 16px;
$size-3: 19px;
$size-4: 24px;
$size-5: 27px;

$viewport-sm:    0px;
$viewport-md:  768px;
$viewport-lg: 1024px;
$viewport-xl: 1200px;