.contact-form {
  margin-top: spacer(32);

  input[type='text'],
  input[type='email'],
  select,
  textarea {
    width: 100%;
    @include padding(16);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: spacer(8);
    margin-bottom: spacer(16);
    resize: vertical;
    margin-bottom: spacer(64);
    display: block;
    font-weight: 400;
    @include type-size(200);
  }

  .input-header,
  legend {
    margin-bottom: spacer(4);
    @include bold-type-size(400);
  }

  button {
    width: toRem(210);
    height: toRem(58);
    border: none;
    background: $color-blueberry-200;
    border-radius: 4px;
    line-height: 33px;
    color: $color-blueberry-400;
    @include type-size(400);
  }

  .bot-field {
    display: none;
  }
}
