@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';
@import '~scss/type.module.scss';

.contact-form {
  margin-top: 30px;

  input[type='text'],
  input[type='email'],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-bottom: 50px;
    display: block;
    font-weight: 400;
    @include type-size(200);
  }

  .input-header,
  legend {
    margin-bottom: 5px;
    @include bold-type-size(400);
  }

  button {
    width: 210px;
    height: 58px;
    border: none;
    background: $color-blueberry-200;
    border-radius: 4px;
    line-height: 33px;
    color: $color-blueberry-400;
    @include type-size(400);
  }

  .bot-field {
    display: none;
  }
}
