@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';
@import '~components/pages/contact/contact-form.module.scss';
@import '~components/pages/get-involved/form.module.scss';
@import '~scss/type.module.scss';

.fieldset {
  margin-bottom: spacer(64);
  border: 0;

  .radio-label,
  .checkbox-label {
    display: flex;
    align-items: baseline;
    @include type-size(100);
  }

  .fieldset-options {
    @include padding(8);
  }
}

legend {
  width: 100%;
}

input {
  flex: 0 auto;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: spacer(8);
}

.group {
  width: 100%;
}
