@import '../scss/colors.module.scss';
@import '../scss/breakpoints.module.scss';

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  @media (min-width: $viewport-md) {
    font-size: 1.375rem;
  }
}

.press-list-more {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.6rem;
}

.press-logos {
  margin: 1.5rem 0;
}
