@import '../../../colors.scss';

.homepage-press-logos-wrapper {
  background: $color-grey-10;
  margin-bottom: 1.5rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.homepage-press-logos {
  align-items: center;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;

  img {
    filter: grayscale(1);
    width: 100px;
    margin: 1rem 1.3rem 1rem 0;
  }
}
