@import '../../../colors.scss';

.homepage-press-logos-wrapper {
  margin-bottom: 1.5rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
  h2 {
    color: $color-grey-3;
    font-size: 1rem;
    text-align: center;
    font-variant: all-small-caps;
    margin-bottom: 0.2rem;
  }
}
.homepage-press-logos {
  align-items: center;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;

  img {
    filter: grayscale(1);
    height: 40px;
    margin: 1rem 1.3rem 1rem 0;
  }
}
