@import '~scss/colors.module.scss';
@import '~scss/links.module.scss';
@import '~scss/breakpoints.module.scss';

.tools {
  display: none;
  font-size: 0.81rem;

  @media (min-width: $viewport-lg) {
    display: block;
  }
}

.project-logo {
  &:focus {
    @include link-focus-dark-bg;
  }
}

.search-input {
  display: inline-flex;
  align-items: center;

  background: transparentize($color-plum-400, 0.2);
  color: white;
  position: relative;

  @media (min-width: $viewport-lg) {
    justify-content: center;
    margin-right: 0.5rem;
  }

  > form {
    width: 100%;
  }

  label {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);

    font-weight: bold;
    color: #ffffff;
  }

  .label-focus {
    color: $placeholder;
  }

  input {
    width: 100%;
    padding: 0.55rem 3rem 0.55rem 5rem;

    font-weight: bold;
    border: 0;
    background: transparent;
    color: #f2f2f2;
    transition: width 0.05s;

    &::placeholder {
      color: #f2f2f2;
      opacity: 1;
    }

    &:focus {
      background: #ffffff;
      outline: solid 2px #2f80ed;
      outline-offset: -1px;

      &,
      &::placeholder {
        color: $placeholder;
      }

      @media (min-width: $viewport-lg) {
        width: 28.5rem;
      }
    }

    @media (min-width: $viewport-lg) {
      width: 5.6rem;
    }
  }
}

.search-submit {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);

  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
}

.get-involved {
  display: inline-block;
  vertical-align: top;
  padding: 0.4rem 0.5rem;

  font-weight: bold;
  background: #ffffff;
  color: $color-blueberry-500;
  text-decoration: none;

  transition: all 0.2s;

  &:hover {
    @include link-hover;
  }
  &:focus {
    @include link-focus;
    background: $color-blueberry-200;
  }

  @media (max-width: $viewport-lg) {
    margin-top: 1.75rem;
  }
}

.site-nav-container {
  width: 60%;
  text-align: right;
  @media (min-width: $viewport-md) {
    width: 80%;
  }
}

.atlantic-banner {
  margin-top: 1rem;
  display: flex;
  color: white;
  text-transform: uppercase;
  align-items: center;
  span,
  img {
    display: flex;
    margin-right: 1rem;
  }
  img {
    padding-bottom: 0.2rem;
  }
  span {
    padding-bottom: 0.1rem;
    margin-right: 0.5rem;
    font-size: 0.625rem;
    line-height: 0.8rem;
  }
  div {
    display: flex;
    border-top: 1px solid white;
    width: 100%;
    height: 1px;
    opacity: 0.2;
  }
}

.container {
  background: $color-plum-550;
  padding-bottom: 2em;
  &.has-navigation {
    padding-bottom: 0;
  }
}

.site-header {
  margin-bottom: 3rem;
  &.no-margin {
    margin-bottom: 0;
  }

  .mobile-menu {
    background: $color-plum-800;
    position: relative;
    padding: 1rem 1rem 2rem 1rem;
    @media (min-width: $viewport-lg) {
      display: none;
    }
    .mobile-pointer {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 35px;
      bottom: -15px;
      background: $color-plum-800;
      transform: rotate(-45deg);
    }
    nav {
      display: block;
      li {
        margin-bottom: 0.5rem;
        line-height: 40px;
        @media (hover: none) {
          margin-bottom: 1.75rem;
          line-height: 1;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
    .search-input {
      width: 100%;
      [data-reach-combobox] {
        width: 100%;
      }
    }
  }

  .mobile-menu-expanded {
    display: block;
    @media (min-width: $viewport-lg) {
      display: none;
    }
  }

  .mobile-toggle {
    background: transparent;
    border: none;
    font-weight: bold;
    margin-top: 1.5rem;
    color: white;
    cursor: pointer;
    @media (min-width: $viewport-lg) {
      display: none;
    }
  }

  img {
    margin-bottom: 0;
  }

  .page-title {
    margin: 0 0 0.5rem;
    font-size: 2.2rem;
    line-height: 1.2;
    color: white;

    @media (max-width: $viewport-md) {
      font-size: 1.56rem;
    }
  }

  .nav-container {
    display: flex;
    float: right;
    padding-top: 1rem;
    @media (min-width: $viewport-lg) {
      float: none;
      padding-top: 0;
    }
  }

  nav {
    display: none;
    margin-top: 1.75rem;
    align-self: center;
    break-before: always;
    padding-bottom: 0.5rem;

    @media (min-width: $viewport-lg) {
      display: block;
      margin-top: 1.825rem;
      position: relative;
      z-index: 1;
    }

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    ul {
      padding-left: 0;
      margin: 0;
      line-height: 1;
      list-style-type: none;

      li {
        margin-bottom: 0.5625rem;
        @media (min-width: $viewport-lg) {
          display: inline-block;
          margin-right: 1.5em;
          margin-bottom: 0;
          line-height: 1;
          position: relative;

          a {
            padding-bottom: 5px;
            position: relative;
            z-index: 2;
          }

          a:hover {
            @include link-hover-dark-bg;
          }
          a:focus {
            @include link-focus-dark-bg;
          }
          &:hover > a {
            border-bottom: 3px solid $color-blueberry-200;
          }
        }
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .site-title-container {
    display: flex;
    flex-wrap: wrap;
  }

  .site-title-inner {
    width: 40%;
    display: flex;
    padding-top: 1.5rem;
    @media (min-width: $viewport-md) {
      width: 20%;
    }
  }

  .return-link {
    margin-bottom: 0.75rem;

    @media (max-width: $viewport-md) {
      margin-bottom: 1rem;
    }

    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title-subnav-container {
    margin-top: 4.25rem;
    @media (max-width: $viewport-md) {
      margin-top: 3rem;
    }
    &.has-return-link {
      margin-top: 1.75rem;
      @media (max-width: $viewport-md) {
        margin-top: 2rem;
      }

      .page-title {
        margin: 0 0 1.5rem;
        @media (max-width: $viewport-md) {
          margin-bottom: 0;
        }
      }
    }
    .header-tabs {
      display: block;
      align-self: flex-end;
      margin-left: auto;

      div {
        text-align: left;
        margin: 0 -1rem;
      }

      @media (max-width: $viewport-lg) and (min-width: $viewport-ms) {
        margin-left: 0;
      }

      @media (min-width: $viewport-ms) {
        display: inline-block;
      }

      @media (max-width: $viewport-ms) {
        div {
          -ms-overflow-style: none;
          min-height: 2em; /* Fix for Safari overflow clip */
          overflow-x: scroll;
          width: 92vw; /* extend to the far right edge */

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        text-align: left;

        @media (min-width: $viewport-lg) {
          padding-bottom: 1rem;
        }

        a {
          text-decoration: none;
          font-weight: bold;
          color: white;
          display: block;
          margin: 0 0.6rem 0 0;
          padding: 0.2rem 0 0.1rem;
          font-size: 1rem;
          border-bottom: 3px solid transparent;

          @media (max-width: $viewport-md) {
            font-size: 0.8rem;
            padding: 0.5rem 0;
            margin-left: 1rem;
            margin-right: 1rem;
          }

          &:focus {
            @include link-focus-dark-bg;
          }

          &:hover,
          &[aria-current] {
            border-bottom: 3px solid $color-blueberry-200;
          }
          @media (min-width: $viewport-ms) {
            margin: 0 1em;
          }
        }
        li {
          display: inline-block;
          @media (min-width: $viewport-ms) {
            margin: 0;
          }
        }
      }
    }
  }
}
