.tools {
  display: none;
  @include type-size(100);

  @media (min-width: $viewport-lg) {
    display: flex;
  }
}

.searchContainer {
  @include margin(16, right);
}
.mobileSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.project-logo {
  &:focus {
    @include link-focus-dark-bg;
  }
}

.get-involved {
  display: inline-block;
  @media (min-width: $viewport-lg) {
    line-height: 1.75;
    height: 35px; // match the search box height
  }
  padding: 0.4rem 0.5rem; // ignore-style-rule
  transition: all 0.2s;

  font-weight: bold;
  background: $color-honey-300;
  color: $color-plum-800;
  border-radius: 4px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  &:focus {
    @include link-focus;
  }

  @media (max-width: $viewport-lg) {
    margin-top: spacer(24);

    &:focus {
      @include link-focus-dark-bg;
    }
  }
}

.site-nav-container {
  width: 60%;
  text-align: right;
  @media (min-width: $viewport-md) {
    width: 80%;
  }
}

.atlantic-banner {
  margin-top: spacer(16);
  display: flex;
  color: white;
  text-transform: uppercase;
  align-items: center;
  span,
  img {
    display: flex;
    margin-right: spacer(16);
  }
  img {
    padding-bottom: spacer(4);
  }
  span {
    padding-bottom: 0.1rem;
    margin-right: spacer(8);
    font-size: 0.625rem; /* exception to the type mixins */
    line-height: 0.8rem;
  }
  div {
    display: flex;
    border-top: 1px solid white;
    width: 100%;
    height: 1px;
    opacity: 0.2;
  }
}

.container {
  background: $color-plum-700;
  padding-bottom: spacer(32);
  &.has-navigation {
    padding-bottom: 0;
  }
}

.site-header {
  margin-bottom: 3rem; // ignore-style-rule
  &.no-margin {
    margin-bottom: 0;
  }

  .mobile-menu {
    color: $color-plum-200;
    background: $color-plum-800;
    position: relative;
    padding: spacer(16) spacer(16) spacer(32) spacer(16);
    @media (max-width: $viewport-lg) and (min-width: $viewport-ms) {
      margin: spacer(0) spacer(32);
    }
    @media (max-width: $viewport-ms) and (min-width: $viewport-sm) {
      margin: spacer(0) spacer(16);
    }
    @media (min-width: $viewport-lg) {
      display: none;
    }
    .mobile-pointer {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 35px;
      bottom: -15px;
      background: $color-plum-800;
      transform: rotate(-45deg);
      z-index: 0;
    }
    nav {
      display: block;
      @include margin(16, top);
      li {
        line-height: toRem(40);
        @media (hover: none) {
          margin-bottom: spacer(24);
          line-height: 1;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
    .search-input {
      width: 100%;
      [data-reach-combobox] {
        width: 100%;
      }
    }
  }

  .mobile-menu-expanded {
    display: block;
    @media (min-width: $viewport-lg) {
      display: none;
    }
  }

  .mobile-toggle {
    background: transparent;
    border: none;
    font-weight: bold;
    margin-top: spacer(24);
    color: white;
    cursor: pointer;
    margin-top: 0;
    @media (min-width: $viewport-lg) {
      display: none;
    }
  }

  img {
    margin-bottom: 0;
  }

  .page-title {
    margin: 0 0 spacer(8);
    @include type-size(600);
    line-height: 1.2;
    color: white;

    @media (max-width: $viewport-md) {
      @include type-size(500);
    }
  }

  .nav-container {
    display: flex;
    float: right;
    @media (min-width: $viewport-lg) {
      float: none;
    }
  }

  nav {
    display: none;
    align-self: center;
    break-before: always;

    @media (min-width: $viewport-lg) {
      display: block;
      position: relative;
      z-index: 1;
    }

    a {
      color: $color-plum-100;
      text-decoration: none;
      font-weight: bold;
    }
    ul {
      padding-left: 0;
      margin: 0;
      line-height: 1;
      list-style-type: none;

      li {
        margin-bottom: 0.5625rem;
        @media (min-width: $viewport-lg) {
          display: inline-block;
          margin-right: spacer(24);
          margin-bottom: 0;
          line-height: 1;
          position: relative;

          a {
            padding-bottom: spacer(4);
            position: relative;
            z-index: 2;
          }

          a:focus {
            @include link-focus-dark-bg;
          }
          &:hover > a {
            @include link-hover-dark-bg;
          }
        }
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .site-title-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: display 150ms;
    @include margin(24, top);
  }

  .return-link {
    margin-bottom: spacer(8);
    @media (max-width: $viewport-md) {
      margin-bottom: spacer(16);
    }

    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title-subnav-container {
    margin-top: spacer(64);
    @media (max-width: $viewport-md) {
      margin-top: 3rem; // ignore-style-rule
    }
    &.has-return-link {
      margin-top: spacer(24);
      @media (max-width: $viewport-md) {
        margin-top: spacer(32);
      }

      .page-title {
        margin: 0 0 spacer(24);
        @media (max-width: $viewport-md) {
          margin-bottom: 0;
        }
      }
    }
    .header-tabs {
      display: block;
      align-self: flex-end;
      margin-left: auto;

      div {
        text-align: left;
        margin: 0 -1rem;
      }

      @media (max-width: $viewport-lg) and (min-width: $viewport-ms) {
        margin-left: 0;
      }

      @media (min-width: $viewport-ms) {
        display: inline-block;
      }

      @media (max-width: $viewport-ms) {
        div {
          -ms-overflow-style: none;
          min-height: 2em; /* Fix for Safari overflow clip */
          overflow-x: scroll;
          width: 92vw; /* extend to the far right edge */

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        text-align: left;

        @media (min-width: $viewport-lg) {
          padding-bottom: spacer(16);
        }

        a {
          text-decoration: none;
          font-weight: bold;
          color: white;
          display: block;
          margin: 0 0.6rem 0 0; // ignore-style-rule
          padding: 0.2rem 0 0.1rem;
          @include type-size(200);
          border-bottom: 3px solid transparent;

          @media (max-width: $viewport-md) {
            font-size: 0.8rem;
            @include type-size(100);
            padding: spacer(8) 0;
            margin-left: spacer(16);
            margin-right: spacer(16);
          }

          &:focus {
            @include link-focus-dark-bg;
          }

          &:hover,
          &[aria-current] {
            @include link-hover-dark-bg;
          }
          @media (min-width: $viewport-ms) {
            margin: 0 spacer(16);
          }
        }
        li {
          display: inline-block;
          @media (min-width: $viewport-ms) {
            margin: 0;
          }
        }
      }
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: calc(1136px + 3rem);
  padding: 0 spacer(32);
  @media (max-width: $viewport-sm) {
    padding: 0 spacer(16);
  }
  @media (min-width: $viewport-lg) {
    // todo increase to 1rem if there's space with smaller search box
    padding: 0 spacer(8);
  }
}
