.caret {
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  margin-left: spacer(8);
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  top: 3px;
  &:focus {
    outline: 2px dotted white;
  }
  @media (hover: none) {
    background-color: #ffffff;
    border-radius: 10px;
    height: toRem(22);
    width: toRem(22);
  }

  @media (any-hover: hover) {
    width: toRem(40);
    height: toRem(40);
    margin-left: 0;
    svg {
      margin-bottom: spacer(4);
    }
  }

  svg {
    fill: #ffffff;
    transition: transform 0.2s ease-in;
    transform-origin: center;

    @media (hover: none) {
      fill: $color-plum-600;
      position: absolute;
      top: 8px;
      left: 5px;
    }
  }

  &[aria-expanded='true'] svg {
    transform: rotate(-180deg);
    transform-origin: center;
    transition: transform 0.2s ease-out;
  }
}

.menu-item {
  @include type-size(300);
  &:hover {
    [data-reach-menu] {
      display: block;
    }
  }
  a:focus {
    @include link-focus-dark-bg;
  }
}

.sub-menu {
  display: block;
  position: absolute;
  border-top: 20px solid #5667ad;
  top: 20px;
  text-align: left;
  background-color: #ffffff;
  min-width: 15em;
  padding: spacer(8) 0;
  a.menu-link,
  a.menu-link[aria-current] {
    color: $color-plum-600;
    display: block;
    padding: spacer(8) spacer(16);
    cursor: pointer;
    &:hover,
    &[data-selected],
    &:focus {
      color: white;
      background: black;
    }
  }
}

.mobile {
  .sub-menu {
    position: relative;
    border: 0;
    top: 0;
    background: transparent;
    padding-left: spacer(16);
    a {
      color: white;
    }
  }
  .menu-item {
    &:hover {
      [data-reach-menu][hidden] {
        display: none;
      }
    }
  }
}
