@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.banner {
  padding: 0.7rem 0;

  text-align: center;
  font-weight: bold;
  background: $color-plum-800;
  color: $color-blueberry-200;
  transition: background 0.2s;

  &:hover,
  &:focus {
    background: #000000;
  }

  @media (max-width: $viewport-sm) {
    padding: 0.7rem;
    text-align: left;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: white;
    }
  }
  .new {
    display: inline-block;
    margin-right: 1rem;
    text-transform: uppercase;
  }
}
