.return-link-container {
  margin-bottom: spacer(8);
  display: flex;
  align-items: flex-end;

  @media (max-width: $viewport-md) {
    margin: spacer(16);
  }

  a, span {
    line-height: 1;
    color: $color-plum-300;
  }

  a {
    text-decoration: none;
    &:hover {
      @include link-hover-dark-bg;
    }
    &:focus {
      @include link-focus-dark-bg;
    }
    &:first-child {
      @include margin(0, left);
    }
  }

  a, img, span {
    @include margin(4, (left, right));
  }

}
