.return-link {
  margin-bottom: spacer(8);
  @media (max-width: $viewport-md) {
    margin: spacer(16);
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      @include link-hover-dark-bg;
    }
    &:focus {
      @include link-focus-dark-bg;
    }
  }
}
