@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.popover {
  background: #ffffff;
  border: 1px solid $color-slate-600;
  font-size: 1rem;
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  font-weight: normal;
  text-align: left;
  padding: spacer(8) 0;
  opacity: 1;
  transform: translateY(0.4rem);
  color: $text;

  [data-user-value] {
    font-weight: bold;
  }
  [data-suggested-value] {
    font-weight: normal;
  }
  ul.popover-list {
    margin: 0;
  }
  li:not(.popoverSeparator) {
    &:hover,
    &:focus,
    &[aria-selected='true'] {
      background: transparentize($color-blueberry-200, 0.77);
    }
  }
}

.popoverSeparator {
  padding-left: spacer(8);
  text-align: left;
  font-size: 0.8rem;
  font-style: italic;
  pointer-events: none;
  &:not(:first-child) {
    margin-top: spacer(8);
  }
}
