@import '~scss/colors.module.scss';

.popover {
  background: #ffffff;
  border: 1px solid $color-slate-600;
  font-size: 1rem;
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  font-weight: normal;
  text-align: left;
  padding: 0.25rem;
  opacity: 1;
  transform: translateY(0.4rem);
  color: $text;

  [data-user-value] {
    font-weight: bold;
  }
  [data-suggested-value] {
    font-weight: normal;
  }
  ul.popover-list {
    margin: 0;
  }
  li:not(.popoverSeparator) {
    &:hover {
      background: $color-blueberry-hover;
    }
    &[aria-selected='true'],
    &:focus {
      color: white;
      background: black;
    }
  }
}

.popoverSeparator {
  padding-left: 0.5rem;
  text-align: left;
  font-size: 0.8rem;
  font-style: italic;
  pointer-events: none;
  &:not(:first-child) {
    margin-top: 0.5rem;
  }
}
