.header-tabs {
  display: block;

  text-align: left;
  margin: 0 1rem; // ignore-style-rule
  @include margin(24, bottom);

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: left;

    a {
      text-decoration: none;
      font-weight: bold;
      @include type-size(200);
      color: white;

      display: block;
      margin: 0 0.6rem 0 0; // ignore-style-rule
      padding: 0.4rem 0 0.2rem; // ignore-style-rule
      border-bottom: 3px solid transparent;

      &:focus {
        @include link-focus-dark-bg;
      }

      &:hover,
      &[aria-current] {
        @include link-hover-dark-bg;
      }
    }
  }
}
