<footer class="site-footer">
  <div class="container">
    <ul class="pages">
      <li{% if page.url == "/data/" %} aria-describedby="current-page" class="active"{% endif %}>
        <a{% if page.url == "/data/" %} aria-current="page"{% endif %} href="/data/">Get the Data</a>
      </li>

      <li{% if page.url == "/#/" %} aria-describedby="current-page" class="active"{% endif %}>
        <a{% if page.url == "/#/" %} aria-current="page"{% endif %} href="/#/">Visualizations</a>
      </li>

      <li{% if page.url == "/#/" %} aria-describedby="current-page" class="active"{% endif %}>
        <a{% if page.url == "/#/" %} aria-current="page"{% endif %} href="/#/">About the Data</a>
      </li>

      <li{% if page.url == "/#/" %} aria-describedby="current-page" class="active"{% endif %}>
        <a{% if page.url == "/#/" %} aria-current="page"{% endif %} href="/#/">About the Project</a>
      </li>

      <li{% if page.url == "/#/" %} aria-describedby="current-page" class="active"{% endif %}>
        <a{% if page.url == "/#/" %} aria-current="page"{% endif %} href="/#/">Why It Matters</a>
      </li>

      <li{% if page.url == "/#/" %} aria-describedby="current-page" class="active"{% endif %}>
        <a{% if page.url == "/#/" %} aria-current="page"{% endif %} href="/#/">Newsroom FAQ</a>
      </li>

      <li{% if page.url == "/#/" %} aria-describedby="current-page" class="active"{% endif %}>
        <a{% if page.url == "/#/" %} aria-current="page"{% endif %} href="/#/">How Can I Help?</a>
      </li>
    </ul>
    <ul class="follow">
      <li>
        <a href="{{ data.repoUrl }}">GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/{{ data.twitter }}">Twitter</a>
      </li>
      <li>
        <a href="/feed/feed.xml">RSS</a>
      </li>
      {# <li>
        <a href="#">JSON</a>
      </li> #}
    </ul>
  </div>
</footer>
