<a href="#main" class="a11y-only focusable">Skip to main content</a>
<header class="site-header">
	<div class="container">
		<a class="site-title" href="/">{{ data.title }}</a>

		<nav>
			<ul class="site-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/us-daily">US Daily</a></li>
				<li><a href="/data">States</a></li>
			</ul>
		</nav>
	</div>
</header>
