<a href="#main" class="a11y-only focusable">Skip to main content</a>
<header class="site-header">
	<div class="container">
		<a class="site-title{% if page.url == "/" %} active{% endif %}" href="/">{{ data.title }}</a>

		<nav>
			<ul class="site-nav">
				<li><a{% if page.url == "/" %} class="active"{% endif %} href="/">Home</a></li>
				<li><a{% if page.url == "/us-daily/" %} class="active"{% endif %} href="/us-daily">US Daily</a></li>
				<li><a{% if page.url == "/data/" %} class="active"{% endif %} href="/data">States</a></li>
			</ul>
		</nav>
	</div>
</header>
