@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.cta {
  color: $color-honey-700;
  .arrow {
    text-decoration: none;
    display: inline-block;
    @include margin(4, left);
  }
  &:hover {
    color: $text;
  }
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}

.bold {
  font-weight: bold;
}
