.cta {
  color: $color-honey-700;
  .arrow {
    text-decoration: none;
    display: inline-block;
    @include margin(4, left);
  }
  &:hover {
    @include link-hover;
  }
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
  @include type-size(300);
}

.bold {
  font-weight: bold;
}
