@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';

.feature {
  align-items: center;
  margin-bottom: 2rem;
  &,
  a {
    color: $color-slate-700;
  }
  @media (min-width: $viewport-lg) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 4.5rem;
  }
  .element {
    @media (min-width: $viewport-lg) {
      flex: 60%;
      padding-right: 1rem;
      margin-right: 2rem;
    }
    img {
      border: 1px solid $color-slate-200;
    }
  }
  .info {
    @media (min-width: $viewport-lg) {
      flex: 40%;
      width: 40%;
    }
    @media (min-width: $viewport-lg) {
      margin-left: 1.5rem;
    }
    h3 {
      margin-bottom: 0.5rem;
    }
    p {
      margin-top: 0;
    }
  }
  &.flip {
    @media (min-width: $viewport-lg) {
      flex-direction: row-reverse;
      .element {
        margin-left: 2rem;
        margin-right: 0;
        padding-left: 1rem;
        padding-right: 0;
      }
      .info {
        margin-left: 0;
      }
    }
  }
}
