@import '~scss/breakpoints.module.scss';

.paragraph {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  @media (min-width: $viewport-lg) {
    font-size: 2.25rem;
  }
  &.center {
    @media (min-width: $viewport-lg) {
      text-align: center;
    }
  }

  &.no-margin {
    margin: 0;
  }

  &.narrow {
    max-width: 700px;
    @media (min-width: $viewport-lg) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
