@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.total {
  background-color: $color-blueberry-100;
  text-align: right;
  @include margin(24, bottom);
  // STYLE CHECK
  padding: toRem(12) toRem(15);
  @media (min-width: $viewport-lg) {
    margin-bottom: 0;
  }
}

.number,
.label {
  @include margin(8, right);
}

.number {
  font-weight: bold;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.2;
  // STYLE CHECK
  margin-top: toRem(6);
  margin-bottom: toRem(2);
}

.label {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 700;
  // STYLE CHECK
  margin-bottom: toRem(6);
}
