.card {
  @include margin(16, top bottom);
  text-align: center;
}

.button {
  @include remove-button-style();
  cursor: pointer;
}

.directions {
  text-align: center;
  @include type-size(100);
}

.flip-card {
  background-color: transparent;
  margin: 0 auto;
  perspective: 1000px;
  &.flipped {
    .inner {
      transform: rotateY(180deg);
    }
  }
  .back {
    transform: rotateY(180deg);
  }
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
