.sidebar {
  border-radius: 4px;
  background-color: $color-plum-100;
  @include padding(16);
  color: $color-plum-700;
  a {
    color: $color-plum-700;
  }
  .headline {
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.wrapper {
  @media (min-width: $viewport-lg) {
    @include padding(64, left);
  }
}
