.state-name {
  @include type-size(400);
  margin: 0;
  @include padding(16, bottom);
  border-bottom: 1px solid $color-slate-400;
}

.link {
  text-decoration: none;
  @include type-size(300);
  &:hover,
  &:focus {
    text-decoration: none;
    .text {
      text-decoration: underline;
    }
  }
}

.chart {
  display: none;
  @media (min-width: $viewport-lg) {
    display: block;
    @include margin(16, top);
    svg {
      @include margin(16, top);
    }
  }
  h3 {
    @include type-size(200);
    margin: 0;
    font-weight: normal;
  }
}

.sidebar {
  display: none;
  flex-direction: column;
  height: 100%;
  @media (min-width: $viewport-md) {
    display: flex;
  }
}
