.state {
  fill: white;
  @include type-size(100);
  cursor: pointer;
}

.state-name {
  fill: black;
  font-weight: bold;
  text-anchor: middle;
  cursor: pointer;
}

.state-number {
  fill: black;
  font-weight: normal;
  text-anchor: middle;
  cursor: pointer;
}

.state-direction {
  fill: white;
  @include type-size(300);
  text-anchor: middle;
}

.state-indicator {
  fill: $color-plum-400;
  cursor: pointer;
  &.level-1 {
    fill: $color-honey-300;
    background: $color-honey-300;
  }
  &.level-2 {
    fill: $color-honey-400;
    background: $color-honey-400;
  }
  &.level-3 {
    fill: $color-honey-500;
    background: $color-honey-500;
  }
  &.level-4 {
    fill: $color-honey-600;
    background: $color-honey-600;
  }
}

.active-state {
  @include type-size(200);
}

.map {
  display: none;
  @media (min-width: $viewport-md) {
    display: block;
  }
}

.grid-wrapper {
  display: block;
  @media (min-width: $viewport-md) {
    display: none;
  }
}

.map-label {
  @include padding(16, top);
  h3 {
    @include type-size(300);
    margin: 0;
  }
  p {
    margin: 0;
    .keyboard {
      display: inline-block;
      @include margin(16, left);
    }
  }
}

.legend-toggle {
  @include remove-button-style();
  cursor: pointer;
  .text {
    text-decoration: underline;
  }
}

.legend {
  list-style-type: none;
  @include margin(16, top);
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    @include margin(32, right);
    display: flex;
    align-items: center;
  }
}

.legend-hex {
  width: 30px;
  height: 30px;
}
