.state {
  fill: white;
  @include type-size(100);
  cursor: pointer;
}

.state-name {
  fill: black;
  font-weight: bold;
  text-anchor: middle;
  cursor: pointer;
}

.state-number {
  fill: black;
  font-weight: normal;
  text-anchor: middle;
  cursor: pointer;
}

.state-indicator {
  fill: $color-plum-400;
  cursor: pointer;
  &.level-1 {
    fill: $color-honey-300;
  }
  &.level-2 {
    fill: $color-honey-400;
  }
  &.level-3 {
    fill: $color-honey-500;
  }
  &.level-4 {
    fill: $color-honey-600;
  }
}

.active-state {
  @include type-size(200);
}

.map {
  display: none;
  @media (min-width: $viewport-md) {
    display: block;
  }
}

.grid-wrapper {
  display: block;
  @media (min-width: $viewport-md) {
    display: none;
  }
}

.map-label {
  @include padding(16, top);
  h3 {
    @include type-size(300);
    margin: 0;
  }
  p {
    margin: 0;
    .keyboard {
      display: inline-block;
      @include margin(16, left);
    }
  }
}
