@import '~scss/colors.module.scss';

.chart-label {
  font-size: 14px;
  color: $color-slate-600;
}

.subhead,
.legend-container {
  font-size: 14px;
}

.legend-container {
  display: flex;
  div {
    padding: 0.5rem;
    &:first-of-type {
      padding-left: 0;
    }
  }
  .legend-item {
    display: flex;
    align-items: center;
  }

  .legend-color {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5rem;
    color: black;
  }
}
