@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';
@import '~scss/type.module.scss';

.state-map {
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (max-width: $viewport-sm) {
    margin-top: spacer(24);
  }

  p,
  h2 {
    margin-bottom: spacer(4);
    margin-top: 0;
    text-align: center;
    width: 100%;
    @media screen and (max-width: $viewport-sm) {
      text-align: left;
    }
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  .hovered-states {
    pointer-events: none;
  }

  .chart-legend-note {
    margin-top: spacer(24);
    text-align: left;
  }
}

.map-dek {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 500px) {
    align-items: initial;
  }
}

.add-margin-small {
  @media screen and (max-width: $viewport-sm) {
    margin-top: spacer(8);
  }
}
.map-time-scrubber {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: spacer(8);
  @media screen and (max-width: $viewport-sm) {
    align-items: initial;
  }

  label {
    display: none;
  }
  .map-start-stop {
    cursor: pointer;
    display: inline-block;
    margin-right: spacer(4);
    // STYLE CHECK
    width: 16px;
    height: 16px;

    &.start {
      border-style: solid;
      border-width: 8px 0px 8px 16px;
      border-color: transparent transparent transparent #202020;
    }

    &.stop {
      border: solid black 8px;
    }
  }
  .map-start-stop-controls {
    display: flex;
    align-items: center;
    margin: spacer(8) 0;
    // STYLE CHECK
    width: 150px;

    // cross-browser compatible range styling from http://danielstern.ca/range.css/
    input[type='range'] {
      -webkit-appearance: none;
      width: 100%;
      margin: spacer(4) 0;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        // STYLE CHECK
        height: 10px;
        cursor: pointer;
        background: #edf1f2;
        border-radius: 5px;
        border: 1px solid #b7bcbd;
      }

      &::-webkit-slider-thumb {
        border: 1px solid #000000;
        // STYLE CHECK
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: toRem(-6);
      }

      &:focus::-webkit-slider-runnable-track {
        background: #edf1f2;
      }

      &::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: #edf1f2;
        border-radius: 5.5px;
        border: 1px solid #b7bcbd;
      }

      &::-moz-range-thumb {
        border: 1px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #ffffff;
        cursor: pointer;
      }

      &::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      &::-ms-fill-lower {
        background: #dee5e7;
        border: 1px solid #b7bcbd;
        border-radius: 11px;
      }

      &::-ms-fill-upper {
        background: #edf1f2;
        border: 1px solid #b7bcbd;
        border-radius: 11px;
      }

      &::-ms-thumb {
        border: 1px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #ffffff;
        cursor: pointer;
        height: 10px;
      }

      &:focus::-ms-fill-lower {
        background: #edf1f2;
      }

      &:focus::-ms-fill-upper {
        background: #edf1f2;
      }
    }
  }
  .map-start-stop-label {
    width: 166px;
    padding-left: spacer(16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include type-size(100);
    &.column {
      white-space: nowrap;
    }
    @media screen and(max-width: $viewport-sm) {
      width: 158px;
      padding-left: spacer(8);
    }
  }
}
