.item {
  // STYLE CHECK
  margin: 6px 5px;
  line-height: 1rem;
}
.date {
  text-transform: uppercase;
  text-align: left;
  @include bold-type-size(100);
  color: gray;
}
.legend-text {
  border-bottom: solid 3px;
  &.total {
    border-color: $color-plum-500;
  }
  &.positive {
    border-color: $color-honey-400;
  }
}
