@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';
@import '~scss/type.module.scss';

.container {
  position: relative;
}

.table {
  width: 100%;
  position: absolute;
  z-index: -1;
  border-collapse: collapse;
  border-style: hidden;
  td {
    height: 22px;
    border: 1px solid #d2d6d7;
  }
  @media (max-width: $viewport-ms) {
    display: none;
  }
}

.alert {
  display: flex;
  margin: 0 auto;
  max-width: 38rem;
  padding-top: spacer(24);
  padding-bottom: 3rem;
  @media (max-width: $viewport-ms) {
    flex-direction: column;
    padding-top: 0;
  }
  div {
    padding: spacer(16);
    align-items: center;
  }
}

.content {
  background-color: $color-error-light;
  flex-basis: 62.5%;
  a {
    color: black;
  }
  p {
    margin-bottom: 0;
  }
  @include type-size(200);
  line-height: 150%;
}

.title {
  background-color: $color-error-dark;
  color: white;
  @include bold-type-size(500);
  line-height: 1;
  flex-basis: 37.5%;
  text-transform: uppercase;
  display: flex;
  span {
    padding-bottom: spacer(4);
  }
  img {
    padding-right: spacer(16);
  }
}
