.title {
  margin-bottom: spacer(4);
  margin-top: 0;
}

.data-item {
  &:first-child {
    padding-right: 3rem;
  }
  p {
    margin-bottom: 0;
  }
}
.data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  img {
    width: toRem(46);
  }
}

.percent {
  display: block;
  font-size: 4rem; /* exception to the type mixins */
  color: $color-plum-600;
  font-weight: bold;
  line-height: 5rem;
}

.percent-caption {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  @include type-size(400);
}
