.container {
  display: flex;
  @media (max-width: $viewport-md) {
    flex-direction: column;
  }
  div {
    flex-basis: 50%;
  }
}

.title {
  margin-bottom: spacer(4);
  margin-top: 0;
}

.data-item {
  &:first-child {
    padding-right: 3rem;
  }
  p {
    margin-bottom: 0;
  }
}
.data {
  display: flex;
  justify-content: space-between;
  img {
    width: toRem(46);
  }
  flex-direction: row;
}

.percent {
  display: block;
  font-size: 4rem; /* exception to the type mixins */
  color: $color-plum-600;
  font-weight: bold;
  line-height: 5rem;
}

.percent-caption {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  @include type-size(400);
}
