@import '~scss/colors.module.scss';

.container {
  background-color: $color-error-light;
  max-width: 32rem;
  padding: spacer(32);
  border-radius: 4px;
  p:last-child {
    margin: 0;
  }
  a {
    color: $text;
  }
  display: flex;
}

.icon-container {
  flex-basis: 20%;
  text-align: center;
  padding: spacer(8) spacer(16) 0 0;
  img {
    width: toRem(24);
  }
}
