.header {
  @media (min-width: $viewport-md) {
    margin-top: -50px;
    padding-top: 50px;
    display: inline-block;
  }
  @include margin(16, bottom);
}

.state {
  border-bottom: 1px solid $color-slate-500;
  padding-bottom: spacer(32);
  padding-top: 3rem;
}
