.header {
  @media (min-width: $viewport-md) {
    margin-top: toRem(-50);
    padding-top: toRem(50);
    display: inline-block;
  }
}

.list {
  @include padding(0, left);
  @include margin(0, top);

  li {
    list-style-position: inside;
    list-style-type: decimal;
  }
}
