@import '~scss/breakpoints.module.scss';
@import '~scss/type.module.scss';

.container {
  p {
    @media (min-width: $viewport-lg) {
      display: inline-block;
      &:first-child {
        margin-right: 2rem;
      }
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.key {
  @include type-size(100);
}

.disclosure-button {
  border: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  .text {
    text-decoration: underline;
  }
}

.disclosure-pane {
  display: none;
  &[data-expanded='true'] {
    display: block;
  }
}
