.caution,
.disparity-symbol,
.note {
  margin-left: spacer(4);
}

.disparity-symbol {
  display: inline-block;
}

.note {
  @include type-size(100);
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #fae9a8;
  text-align: center;
  font-weight: bold;
  padding-top: 2px;
  a {
    text-decoration: none;
  }
  &.unlinked {
    padding-top: 0;
    margin-left: 0;
  }
}

.in-key {
  margin-left: 0;
  margin-right: spacer(8);
}

.tooltip {
  color: white;
  background: $color-slate-800;
  @include padding(8);
  border-radius: spacer(4);
  z-index: 1;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
}
