.note,
.disparity-symbol {
  @include margin(8, right);
}

.disparity-symbol {
  display: inline-block;
  width: 20px;
}

.note {
  @include type-size(100);
  @include margin(8, right);
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: $color-honey-200;
  text-align: center;
  font-weight: bold;
  padding-top: 2px; //ignore-style-rule
  a {
    text-decoration: none;
  }
  &.unlinked {
    padding-top: 0;
  }
}

.in-key {
  margin-left: 0;
  margin-right: spacer(8);
}
