.result {
  margin-bottom: spacer(24);

  h3 {
    @include type-size(400);
    font-weight: bold;
    margin-bottom: spacer(24);
    margin-top: 0;
  }
  p {
    margin-bottom: spacer(16);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .publish-date {
    font-weight: bold;
  }
}

.resultDetails {
  margin-top: spacer(16);
}
