@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.result {
  margin-bottom: 1.5rem;
  * {
    font-weight: normal;
  }
  h4 {
    margin-bottom: 0.3rem;
    margin-top: 0;
  }
  p {
    margin-bottom: 0.3rem;
  }
}
