.result {
  margin-bottom: spacer(24);

  .type {
    color: $color-plum-700;
    font-weight: bold;
    @include type-size(100);
  }

  h3 {
    @include type-size(400);
    font-weight: bold;
    font-size: 30px; // todo fix this
    margin-bottom: spacer(8);
    margin-top: 0;
    line-height: 1.25;

    a {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: spacer(16);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .date {
    color: $color-slate-600;
  }

  .children-container {
    color: $text;
  }
}

.result-details {
  margin-bottom: 0;
  margin-top: spacer(8);
  p {
    margin-top: spacer(4);
    margin-bottom: 0;
  }
}
