.button {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  @include padding(8);
  @include margin(16, right);
  background: $color-plum-100;
  border-radius: 4px;
  color: $color-plum-800;
}

.header {
  @include margin(16, right);
  @include margin(0, (top, bottom));
  @include type-size(200);
  font-weight: normal;
  margin-top: 0;
}

.container {
  display: flex;
  align-items: center;
}
