.header {
  @include margin(16, bottom);
  @include type-size(300);
  line-height: 1.3;
  @media (max-width: $viewport-md) {
    margin-top: spacer(8);
    margin-bottom: spacer(8);
  }
}

.preamble {
  @include margin(32, bottom);
}

.grade-wrapper {
  display: flex;
  align-items: flex-start;
  .grade-description {
    @include margin(24, right);
    display: inline;
    p {
      @include margin(0, top);
    }
  }
  img {
    width: 96px;
    flex-grow: 0;
    flex-shrink: 0;
    float: right;
    @media (max-width: $viewport-md) {
      width: 60px;
    }
  }
}

.button {
  @include remove-button-style();
  text-decoration: underline;
}
