.header {
  @include margin(16, bottom);
  @include type-size(300);
  line-height: 1.3;
  @media (max-width: $viewport-md) {
    margin-top: spacer(8);
    margin-bottom: spacer(8);
  }
}

.preamble {
  @include margin(64, bottom);
  .header {
    margin: 0;
    @include type-size(400);
    @include margin(16, bottom);
  }
}

.button {
  @include remove-button-style();
  text-decoration: underline;
}
