.link {
  display: block;
  &.state-link {
    @include padding(8, left);
    display: flex;
    text-decoration: none;
    span {
      text-decoration: underline;
    }
    &::before {
      text-decoration: none;
      @include padding(8, right);
      content: '∟';
      line-height: 0.9;
      display: inline-block;
    }
  }
}
