.state-grade {
  @include margin(16, bottom);
  @media (min-width: $viewport-lg) {
    margin-bottom: 0;
  }
  img {
    display: inline;
    vertical-align: middle;
    margin-left: spacer(4);
  }
}

.grade {
  width: 28px;
}

.grade-large {
  width: 200px;
}
