.state-grade {
  margin: 0;
}

.header {
  margin: 0;
  @include margin(16, bottom);
  @include type-size(400);
  .learn-more {
    @include type-size(100);
    font-weight: normal;
    display: inline-block;
    @include margin(16, left);
  }
}

.icon {
  display: inline-block;
  @include margin(16, right);
  width: 23px;
}

.list {
  li {
    display: flex;
    align-items: center;
  }
}
