@import '~scss/breakpoints.module.scss';

.history {
  th:last-child,
  td:last-child {
    padding-right: 0.25em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding-left: 0;
    margin-bottom: 0.5em;
  }
  @media (min-width: $viewport-md) {
    li {
      display: inline;
      margin-bottom: 0;
      margin-left: 0.75em;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}
