.container {
  margin-left: 0;
  @include margin(16, top bottom);
}

.label {
  font-weight: bold;
}

.expand {
  font-weight: bold;
  @include remove-button-style();
  text-decoration: underline;
  .arrow {
    display: inline-block;
    @include margin(8, left);
  }
}

.expandable {
  @include a11y-only();
  &.is-expanded {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: auto;
    position: relative;
    width: auto;
  }
}
