@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';
@import '~scss/type.module.scss';

.hero {
  padding: 20px 0;
  background: $color-plum-550;
  color: white;
  @media (min-width: $viewport-lg) {
    padding: 35px 0;
  }
}

.content-wrapper {
  @media (min-width: $viewport-ms) {
    display: flex;
  }
}

.content {
  @media (min-width: $viewport-ms) {
    width: 60%;
    padding-right: 2rem;
  }
}

.image {
  @media (min-width: $viewport-ms) {
    width: 40%;
  }
  @media (min-width: $viewport-lg) {
    margin-top: -150px;
  }
}

.credit {
  display: block;
  text-align: right;
  color: $color-plum-200;
  @include type-size(100);
  line-height: 2.5;
  margin-bottom: 0.5rem;
}
