@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.hero {
  padding: 20px 0;
  background: $color-plum-550;
  color: white;
  @media (min-width: $viewport-lg) {
    padding: 35px 0;
  }
}

.content-wrapper {
  @media (min-width: $viewport-ms) {
    display: flex;
  }
}

.content {
  @media (min-width: $viewport-ms) {
    width: 60%;
    padding-right: 2rem;
  }
}

.image {
  @media (min-width: $viewport-ms) {
    width: 40%;
  }
  @media (min-width: $viewport-lg) {
    margin-top: -150px;
  }
}
