@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.highlight {
  margin-top: 40px;
  p {
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
  }
}

.number {
  font-weight: bold;
  font-size: 2.3rem;
}
