.header {
  font-weight: normal;
  margin: 60px 0 40px; // ignore-style-rule
  @include type-size(300);
  @media (min-width: $viewport-lg) {
    text-align: center;
    @include type-size(400);
  }
}

.race-row.emphasis {
  div.bar {
    background-color: $color-plum-500;
  }
  .mortality-rate-label {
    font-weight: bold;
  }
}

.charts {
  width: 100%;

  .header {
    display: flex;
    @include margin(4, bottom);

    .header-spacer {
      flex-basis: 20%;
    }

    span {
      font-weight: bold;
      @include type-size(400);
    }
  }

  .race-row {
    display: flex;
    @include margin(16, bottom);
    align-items: center;

    div {
      @include type-size(300);
      text-align: right;
      line-height: 1.2;

      height: 2.4rem;
      @include padding(8, right);

      display: flex;
      align-items: center;
      justify-content: right;
      flex-basis: 20%;
    }

    .bar {
      height: 2rem;
      background-color: $color-plum-300;
      border: 1px solid black;
    }

    .mortality-rate-label {
      flex-basis: 5%;
      @include type-size(300);
      @include padding(8, left);
    }
  }
}

.show-notes {
  display: block;
  &:hover {
    text-decoration: underline;
  }
  background: transparent;
  border: 0;
  text-decoration: underline;
  color: $color-slate-600;
  margin-top: spacer(16);
  margin-bottom: spacer(16);
  padding: 0;
  cursor: pointer;
  abbr {
    display: inline-block;
    margin-left: spacer(16);
  }
}

.notes {
  color: $color-slate-600;
}
