.header {
  font-weight: normal;
  margin: 60px 0 40px; // ignore-style-rule
  @include type-size(300);
  @media (min-width: $viewport-lg) {
    text-align: center;
    @include type-size(400);
  }
}

.charts {
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: 45% 10% 45%;
  align-items: start center start;
  @media (min-width: $viewport-lg) {
    align-items: center;
  }
  p {
    font-weight: bold;
    margin-top: 0;
  }
}

.show-notes {
  display: block;
  &:hover {
    text-decoration: underline;
  }
  background: transparent;
  border: 0;
  text-decoration: underline;
  color: $color-slate-600;
  margin-top: spacer(16);
  margin-bottom: spacer(16);
  padding: 0;
  cursor: pointer;
  abbr {
    display: inline-block;
    margin-left: spacer(16);
  }
}

.notes {
  color: $color-slate-600;
}
