@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';
@import '~scss/type.module.scss';

.paragraph {
  color: $color-slate-700;
  @include type-size(200);
  @media (min-width: $viewport-lg) {
    text-align: center;
    @include type-size(400);
    margin: spacer(16) auto;
    max-width: toRem(704);
  }
}
