@import '~scss/breakpoints.module.scss';
@import '~scss/type.module.scss';

.totals {
  margin: 64px 0 0;
  h3 {
    @include type-size(200);
  }
}

.totals-wrap {
  margin-top: 26px;
  @media (min-width: $viewport-lg) {
    display: grid;
    grid-column-gap: 1%;
    grid-template-columns: repeat(2, 50%);
  }
}
