.card {
  .title {
    @include type-size(200);
    font-weight: bold;
    border-bottom: 1px solid black;
    @include padding(16, top bottom);
    margin: 0;
    @media (min-width: $viewport-md) {
      @include padding(16);
    }
  }
  .body {
    @include padding(16, top bottom);
    @media (min-width: $viewport-md) {
      @include padding(16);
    }
  }
}

.disclosure-button {
  background: none;
  text-decoration: underline;
  text-align: left;
  color: $color-slate-600;
  border: 0;
  display: block;
  padding: 0;
  @include margin(16, top bottom);
  @include type-size(200);
  cursor: pointer;
  span {
    @include margin(8, left);
  }
  .arrow-down {
    display: inline-block;
  }
  .arrow-up {
    display: none;
  }
  &[aria-expanded='true'] {
    .arrow-down {
      display: none;
    }
    .arrow-up {
      display: inline-block;
    }
  }
}
