@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.contact-form {
  margin-top: 30px;

  input[type='text'],
  input[type='email'],
  select,
  textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    margin-bottom: 50px;
  }

  @media (max-width: $viewport-md) {
    input[type='text'],
    input[type='email'],
    select,
    textarea {
      width: 100%; /* Full width */
    }
  }

  .input-header {
    margin-bottom: 5px;
    font-weight:600;
    font-size:24px;
  }

  button {
    width: 210px;
    height: 58px;
    background: $color-blueberry-200;
    border-radius: 4px;
    line-height: 33px;
    /* identical to box height, or 150% */
    color: $color-infobox-sync-dark;
    font-size:22px;
  }
}
