@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.edit {
  display: block;
  color: white;
  background: $color-plum-700;
  margin: spacer(32) 0;
  padding: spacer(8) 0;
  text-align: center;
}
