@import '../../scss/breakpoints.scss';

.container {
  max-width: 1000px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  @media (min-width: $viewport-md) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  @media (min-width: $viewport-lg) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $viewport-xl) {
    max-width: 1140px;
  }
  &.container-narrow {
    max-width: 900px;
    @media (min-width: $viewport-lg) {
      margin-top: 5rem;
    }
  }
}
