@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.detail-text {
  color: $color-slate-600;
  font-size: 1rem;
  cite {
    font-style: italic;
  }
}

table + .detail-text {
  @include margin(24, bottom);
}
