.detail-text {
  color: $color-slate-600;
  @include type-size(200);
  cite {
    font-style: italic;
  }
  a {
    color: $color-slate-600;
  }
}

table + .detail-text {
  @include margin(24, bottom);
}
