.detail-text {
  color: $color-slate-600;
  @include type-size(200);
  cite {
    font-style: italic;
  }
}

table + .detail-text {
  @include margin(24, bottom);
}

.centered {
  text-align: center;
}
