.disclosure-button {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;

  .disclosure-button-toggle {
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 0.8rem;
  }

  &[aria-expanded='false'] {
    .disclosure-button-toggle::after {
      content: '▶';
    }
  }

  &[aria-expanded='true'] {
    .disclosure-button-toggle::after {
      content: '▼';
    }
  }
}
