.form {
  margin-bottom: 2rem;
  position: relative;
  input[type='text'],
  input[type='email'],
  input[type='search'],
  select,
  textarea {
    display: block;
    width: 100%;
    @include padding(16);

    margin-top: spacer(8);
    margin-bottom: spacer(64);

    border: 1px solid $color-slate-300;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;

    font-weight: 400;
    @include type-size(200);
  }


  textarea {
    height: toRem(150);
  }

 .field-group {
  @media (min-width: $viewport-lg) {
    display: flex;
  }
}

.child {
  margin-bottom: 0.3rem !important;
  @media (min-width: $viewport-lg) {
    width: 50%;
    &:first-child {
      padding-right: 3rem;
    }
  } 
}


  [type='radio'],
  [type='checkbox'] {
    display: inline-block;
    @include margin(16, right);
  }

  .label {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .required {
      display: block;
      float: right;
      @include type-size(100);
    }
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  @media (max-width: $viewport-md) {
    input[type='text'],
    input[type='email'],
    select,
    textarea {
      width: 100%;
    }
  }

  .input-header {
    @include margin(4, bottom);
    margin-bottom: spacer(4);
    @include bold-type-size(400);
  }

  button,
  [type='submit'] {
    @include padding(16);

    cursor: pointer;
    border: none;
    background: $color-plum-700;
    border-radius: 3px;

    color: white;

    &[disabled] {
      cursor: not-allowed;
      background: $color-plum-200;
      color: $color-plum-800;
    }
  }

  .bot-field {
    display: none;
  }

  input {
    flex: 0 auto;
  }
  
  .select {
    background-color: white;
  }

  .fieldset {
    margin-bottom: 50px;
    border: 0;
  
    .radio-label,
    .checkbox-label {
      display: flex;
      align-items: baseline;
      font-size: 0.8em;
    }
  
    .fieldset-options {
      padding: 10px;
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
  margin-right: 10px;
}

}
