@import '../../scss/colors.module.scss';
@import '../../scss/breakpoints.module.scss';

.form {
  margin-top: 30px;

  input[type='text'],
  input[type='email'],
  select,
  textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    margin-bottom: 1rem;
    display: block;
  }

  .form-group {
    margin-bottom: 2rem;
  }

  @media (max-width: $viewport-md) {
    input[type='text'],
    input[type='email'],
    select,
    textarea {
      width: 100%;
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    margin-right: 1rem;
  }

  textarea {
    min-height: 300px;
  }

  label {
    margin-bottom: 5px;
    display: block;
  }

  fieldset {
    border: 0;
    padding: 0;
  }

  .bot-field {
    display: none;
  }

  button {
    background: $color-plum-800;
    color: white;
    border-radius: 3px;
    padding: 1rem;
    border: 0;
    cursor: pointer;
  }
}
