.row {
  @include row();
}

.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: spacer(8);
  padding-right: spacer(8);
  @each $name, $value in $spacers {
    &.padding-left-small-#{$name} {
      padding-left: spacer($name);
    }
    &.padding-left-medium-#{$name} {
      @media (min-width: $viewport-md) {
        padding-left: spacer($name);
      }
    }
    &.padding-left-large-#{$name} {
      @media (min-width: $viewport-lg) {
        padding-left: spacer($name);
      }
    }
    &.padding-right-small-#{$name} {
      padding-right: spacer($name);
    }
    &.padding-right-medium-#{$name} {
      @media (min-width: $viewport-md) {
        padding-right: spacer($name);
      }
    }
    &.padding-right-large-#{$name} {
      @media (min-width: $viewport-lg) {
        padding-right: spacer($name);
      }
    }
  }
}

@for $i from 1 through $grid-small-width {
  .col-small-#{$i} {
    flex-basis: percentage($i / $grid-small-width);
    max-width: percentage($i / $grid-small-width);
  }
}

@for $i from 1 through $grid-medium-width {
  .col-medium-#{$i} {
    @media (min-width: $viewport-md) {
      flex-basis: percentage($i / $grid-medium-width);
      max-width: percentage($i / $grid-medium-width);
    }
  }
}

@for $i from 1 through $grid-large-width {
  .col-large-#{$i} {
    @media (min-width: $viewport-lg) {
      flex-basis: percentage($i / $grid-large-width);
      max-width: percentage($i / $grid-large-width);
    }
  }
}
