@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.credit {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
  color: $color-slate-600;
  margin-bottom: spacer(8);
  
  &.white {
    color: white;
  }
}
