.infobox {
  display: inline-flex;
  padding: spacer(8);
  padding-right: spacer(32);
  margin: spacer(16) 0;

  border-radius: 4px;
  @include type-size(100);

  img {
    width: toRem(16);
    margin: spacer(4) spacer(16) spacer(4) spacer(8);
    align-self: flex-start;
  }

  p {
    margin: 0;
  }

  .header {
    font-weight: bold;
    line-height: 1em;
  }

  .content {
    margin-top: spacer(4);
  }

  &.sync {
    margin-left: 0;
    background-color: $color-infobox-sync-light;
    color: $color-infobox-sync-dark;
  }

  &.alert {
    background-color: $color-infobox-alert-light;
    color: $color-infobox-alert-dark;
  }

  &.question {
    background-color: $color-infobox-question-light;
    color: $color-infobox-question-dark;
  }
}
