@import '../../scss/colors.module.scss';

.list-arrow[class] {
  font-size: 1.375rem;
  line-height: 1.5;
  margin: 1.5em 0;
}
.list-arrow-item {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1em;

  .list-arrow-icon {
    flex: 0 0 30px;
    color: $color-plum-700;
    font-size: 1.4rem;
  }
  p {
    flex: 1;
    margin: 0;
  }
  a {
    font-weight: bold;
  }
}
