.content {
  h2 {
    @include type-size(400);
    line-height: 1.25;
    margin: spacer(32) 0 spacer(4);
    @media (min-width: $viewport-lg) {
      @include type-size(500);
    }
  }

  h2:first-child {
    margin-top: 0;
  }

  h3 {
    @include type-size(400);
    margin: spacer(32) 0 spacer(4);
  }

  li {
    @include margin(8, bottom);
  }
}
