@import '~scss/helpers.module.scss';

.press-list {
  list-style-type: none;
  margin: 0;
  line-height: 1.3;

  li {
    margin-bottom: spacer(24);
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
    display: block;
    margin-bottom: spacer(4);
    &:hover {
      text-decoration: underline;
    }
  }
  
  .dot-separator {
    display: inline-block;
    margin: 0 spacer(8);
    opacity: 0.4;
  }
}
