.press-list {
  list-style-type: none;
  margin: 0;
  line-height: 1.3;

  li {
    margin-bottom: 1.5rem;
  }

  a {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
  }
  .dot-separator {
    display: inline-block;
    margin: 0 0.4rem;
    opacity: 0.4;
  }
}
