.wrapper {
  display: flex;
}

.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  height: 32px;
  border-radius: 4px;
  margin-left: spacer(16);

  &:first-child {
    margin-left: 0;
  }

  @media (min-width: $viewport-md) {
    width: 32px;
  }

  background: $color-plum-300;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-plum-200;
  }

  &:focus {
    outline: $color-plum-300 dotted 2px;
  }
}

.link-copied {
  color: $color-infobox-question-dark;
  background-color: $color-infobox-question-light;
  position: relative;

  border: 1px solid $color-infobox-question-dark;
  border-radius: 4px;

  @include padding(8, (left, right));

  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
}
