.wrapper {
  display: flex;
  margin-top: spacer(32);
}

.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  border-radius: 4px;
  background: $color-plum-300;
  height: 32px;
  @media (min-width: $viewport-md) {
    width: 32px;
  }

  margin-left: spacer(16);
  &:first-child {
    margin-left: 0;
  }

  &:hover {
    @include link-hover-dark-bg;
  }

  &:focus {
    @include link-focus-dark-bg;
  }
}
