.state-nav-combobox {
  @media (min-width: $viewport-md) {
    text-align: right;
  }
  @media (max-width: $viewport-ms) {
    padding: spacer(8) 0 spacer(8);
    display: block;
  }
  label {
    font-weight: bold;
    display: inline-block;
  }

  [data-reach-combobox] {
    margin: spacer(4) 0;
    @media (min-width: $viewport-ms) {
      display: inline-block;
      margin-left: spacer(16);
    }
  }
  input {
    @include padding(4);
    border: 1px solid $color-slate-600;

    @media (max-width: $viewport-ms) {
      width: 100%;
      @include padding(8);
    }
    &:focus {
      outline: 3px solid $color-blueberry-200;
    }
  }
}

.popover {
  [data-user-value] {
    font-weight: bold;
  }
  [data-suggested-value] {
    font-weight: normal;
  }
  z-index: 1;
}
