.title {
  font-weight: bold;
  width: 50%;
}

.value {
  width: 50%;
  text-align: right;
  @include type-size(300);
  font-weight: bold;
}

.statistic {
  @include margin(8, bottom);
  display: flex;
  flex-wrap: wrap;
}

.group {
  display: flex;
  .statistic {
    width: 50%;
  }
}

.info {
  flex: 100%;
  line-height: 1;
}

.link {
  color: $color-blueberry-400;
  @include type-size(100);
  display: inline-block;
  @include margin(8, right);
  line-height: 1;
}
