.title {
  font-weight: bold;
}

.value {
  text-align: right;
  @include type-size(300);
  font-weight: bold;
}

.statistic-wrapper {
  .statistic {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    @include margin(8, bottom);
  }
  &.subelement {
    @include padding(8, left);
    display: flex;

    &::before {
      @include padding(8, right);
      content: '∟';
      line-height: 0.9;
    }
  }
}

.group {
  display: flex;
  .statistic {
    width: 50%;
  }
}

.info {
  flex: 100%;
  line-height: 1;
}

.link {
  color: $color-blueberry-400;
  @include type-size(100);
  display: inline-block;
  @include margin(8, (right, bottom));
  line-height: 1;
}

.drill-down {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: $color-slate-700;
  @include margin(8, bottom);
  .label {
    @include type-size(100);
  }

  .value {
    @include type-size(100);
  }
}


.calculated-label {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  span {
    @include padding(16, top);
    @include type-size(100);
    color: $color-slate-600;
  }
}
