.swagger-ui {
  pre.microlight {
  	line-height: 1rem;
  }	
  .download-contents {
  	font-size: .7rem;
  	line-height: 1.2rem;
  }

  td {
  	font-size:.8rem;
  }

  tr {
	line-height: 1.5rem;
  }

  ul {
  	margin: auto;
  }
}