.table-of-contents {
  @include margin(32, bottom);
  @include padding(32);
  background: $color-plum-100;
  h2 {
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      @include margin(16, bottom);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
