@import '../../scss/colors.module.scss';
@import '../../scss/breakpoints.module.scss';

.align-left {
  text-align: left;
}

.table {
  line-height: 1rem;
  border-collapse: collapse;
  margin: 0.5rem 0 1.5rem;
  font-variant-numeric: lining-nums tabular-nums;
  width: 100%;

  @media only screen and (max-width: $viewport-lg) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  caption {
    text-align: left;
    font-weight: bold;
    font-size: 1.05rem;
    margin-bottom: 1rem;
  }

  colgroup:not(:first-child) {
    border-left: 1px solid $color-slate-300;
  }

  thead {
    border-bottom: 1px solid $color-slate-400;

    th {
      padding: 0 0.5rem 0.5rem;
      vertical-align: bottom;

      &[scope='col'] {
        text-align: right;
        font-size: 0.8rem;
        font-weight: 800;
      }

      &[scope='col'].align-left {
        text-align: left;
      }

      &[scope='colgroup'] {
        text-align: left;
        font-size: 1.05rem;
        font-weight: 800;
        padding: 0.5rem;
        min-width: 10rem;
      }
    }
  }

  tbody {
    th,
    td {
      vertical-align: top;
    }
    th {
      font-weight: normal;
    }

    tr {
      border-bottom: 1px solid $color-slate-200;
      transition: background-color 0.2s;
      &:hover {
        background-color: $color-blueberry-100;
      }
    }
  }
  td {
    text-align: right;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;

    &.align-left {
      text-align: left;
    }
  }
}
