@import '../../scss/colors.module.scss';
@import '../../scss/breakpoints.module.scss';

.align-left {
  text-align: left;
}

.border-left {
  border-left: 1px solid $color-slate-300;
  &:first-child {
    border-left: 0;
  }
}

.header-label {
  font-size: 1.05rem;
  font-weight: 800;
  left: 0.5rem;
  position: absolute;
  bottom: 2.1rem;
  text-align: left;
  min-width: 10em;
  &.header-label-3 {
    min-width: 13em;
  }
  &.header-label-4 {
    min-width: 16em;
  }
  &.header-label-5 {
    min-width: 19em;
  }
}

.header-label--hidden:not(:focus):not(:active),
.header-label--hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.table {
  line-height: 1rem;
  border-collapse: collapse;
  margin: 0.5rem 0 1.5rem;
  font-variant-numeric: lining-nums tabular-nums;
  width: 100%;

  @media only screen and (max-width: $viewport-lg) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  caption {
    text-align: left;
    font-weight: bold;
    font-size: 1.05rem;
    margin-bottom: 1rem;
  }

  thead {
    border-bottom: 1px solid $color-slate-400;
  }

  th {
    padding: 2.25rem 0.5rem 0.5rem;
    vertical-align: bottom;
    position: relative;
    min-width: 5em;
    &[scope='col'] {
      text-align: right;
      font-size: 0.8rem;
      font-weight: 800;
    }

    &[scope='col'].align-left {
      text-align: left;
    }
    &.wide {
      min-width: 13em;
    }
  }

  tbody {
    th,
    td {
      vertical-align: top;
    }

    tr {
      border-bottom: 1px solid $color-slate-200;
      transition: background-color 0.2s;
      &:hover {
        background-color: $color-blueberry-100;
      }
    }
  }
  td {
    text-align: right;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;

    &.align-left {
      text-align: left;
    }
  }
}
