%toggle-active {
  color: black;
  border-color: black;
  font-weight: 500;
}

%toggle-inactive {
  color: lightgray;
  border: solid lightgray 2px;
  font-weight: initial;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: spacer(16);
  @include type-size(100);

  @media screen and (min-width: $viewport-sm) {
    @include type-size(200);
  }
}

.toggle {
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  width: fit-content;
  span {
    @extend %toggle-inactive;
    @include type-size(100);
    margin: -1px;
    padding: 2px 15px; // ignore-style-rule
    white-space: nowrap;

    &:nth-child(1) {
      border-radius: 8px 0 0 8px;
    }
    &:nth-child(2) {
      border-radius: 0 8px 8px 0;
      border-left-color: black !important;
    }
    &.active {
      @extend %toggle-active;
    }
  }
}
