@import '~scss/colors.module.scss';

%toggle-active {
  color: black;
  border: solid black 2px;
  font-weight: 700;
  z-index: 1;
}

%toggle-inactive {
  color: $color-slate-600;
  border: solid $color-slate-200 2px;
  font-weight: initial;
  &:before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: spacer(16);
  @include type-size(100);

  @media screen and (min-width: $viewport-sm) {
    @include type-size(200);
  }
}

.toggle {
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  width: fit-content;
  span {
    @extend %toggle-inactive;
    @include type-size(100);
    margin: -1px; // ignore-style-rule
    padding: 2px 15px; // ignore-style-rule
    white-space: nowrap;

    &.active {
      @extend %toggle-active;
    }
  }
}
