.list {
  column-count: 1;
  @media (min-width: $viewport-md) {
    column-count: 3;
  }
  @media (min-width: $viewport-lg) {
    column-count: 6;
  }
  list-style-type: none;
  margin-top: spacer(24);
  margin-left: 0;
  padding-left: 0;
  line-height: 150%;
  @media (max-width: $viewport-md) {
    column-count: 1;
  }
  li {
    @include padding(16, right);
    @include margin(16, bottom);
  }
}

.note {
  @include type-size(200);
}
