.list {
  column-count: 2;
  list-style-type: none;
  margin-top: spacer(24);
  margin-left: 0;
  padding-left: 0;
  @media (max-width: $viewport-md) {
    column-count: 1;
  }
}

.note {
  @include type-size(200);
}
