@import '~scss/breakpoints.module.scss';

.list {
  column-count: 2;
  line-height: 1.3;
  list-style-type: none;
  margin-top: 1.5rem;
  margin-left: 0;
  @media (max-width: $viewport-md) {
    column-count: 1;
  }
}

.note {
  font-size: 1rem;
}
