.link-button {
  @include remove-button-style();
  color: $color-link;
  text-align: left;
  text-decoration: underline;
}

.search-button {
  @include margin(4, top);
}

.details {
  h3 {
    margin-top: 0;
    .category {
      display: block;
      color: $color-slate-600;
      @include type-size(300);
      font-weight: normal;
    }
  }
}

.share {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include margin(16, left);
  @include type-size(100);
}

.disclosure-button {
  @include remove-button-style();
}
