.table {
  tbody th[scope='row'] {
    text-align: left;
    font-weight: bold;
  }
}

.sub-header {
  &::before {
    @include padding(8, right);
    content: '∟';
    line-height: 0.9;
  }
}

.totals {
  td,
  th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  th span {
    font-weight: normal;
  }
}

.definition-button {
  @include remove-button-style();
  @include margin(16, left);
  img {
    width: spacer(16);
  }
}
