@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';
@import '~scss/type.module.scss';

.wrapper {
  border-top: 1px solid $color-slate-200;
  // padding-top: 1.75rem;
  @include padding(24, top);
}

.container {
  max-width: 700px;
  margin: spacer(64) auto;
}

.blog-item {
  h2 {
    @include type-size(400);
    line-height: 1.4;
    margin-bottom: spacer(8);
    a {
      text-decoration: none;
      color: $text;
    }
  }
  .lede {
    color: $color-slate-700;
    margin: 0;
    @include type-size(200);
    line-height: 1.5;
    margin-bottom: 8px;
  }
}
