@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.wrapper {
  border-top: 1px solid $color-slate-200;
  // padding-top: 1.75rem;
  @include padding(24, top);
}

.container {
  max-width: 700px;
  // margin: 5em auto;
  margin: spacer(64) auto;
}

.blog-item {
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 8px; // Do we really need a fallback ? https://caniuse.com/#feat=rem
    margin-bottom: spacer(8);
    a {
      text-decoration: none;
      color: $text;
    }
  }
  .lede {
    color: $color-slate-700;
    margin: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
