.disclosure-toggle {
  @include remove-button-style();
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  .text {
    text-decoration: underline;
  }
}

.disclosure {
  display: none;
  &.is-open {
    display: block;
  }
}

.carousel {
  background: $color-slate-100;
  @include padding(16, top bottom);
}

.tab-container {
  overflow-x: scroll;
  white-space: nowrap;
  box-shadow: inset -3px -2px 5px rgba(0, 0, 0, 0.04);
  @media (min-width: $viewport-md) {
    overflow: auto;
    white-space: normal;
  }
}

.tabs {
  @include margin(16, top);
  button {
    @include remove-button-style();
    @include padding(8, top bottom);
    width: 150px;
    text-align: center;
    border-bottom: 3px solid white;
    &[aria-selected='true'] {
      border-bottom-color: $color-slate-600;
    }
  }
}

.filters {
  @include a11y-only();
}
