.wrapper {
  background: $color-plum-700;
  @include padding(64, top bottom);
  color: white;

  a {
    color: white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      @include margin(16, bottom);
    }
  }
  h2 {
    margin-top: 0;
  }
  p {
    @include type-size(300);
  }
}

.links {
  border-top: 1px solid $color-plum-700;
  @include type-size(300);
  @include padding(16, top);
}
