@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';

.dataset {
  align-items: center;
  margin-bottom: 4.5rem;
  &,
  a {
    color: $color-slate-700;
  }
  @media (min-width: $viewport-md) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .image {
    @media (min-width: $viewport-md) {
      flex: 30%;
      padding-right: 1rem;
    }
    width: 100%;
    border: 1px solid $color-slate-200;
  }
  .info {
    @media (min-width: $viewport-md) {
      flex: 70%;
      width: 70%;
    }
    @media (max-width: $viewport-md) {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  &.flip {
    @media (min-width: $viewport-md) {
      flex-direction: row-reverse;
      .info {
        margin-left: 2rem;
      }
    }
  }
  &:not(.flip) {
    @media (min-width: $viewport-md) {
      .info {
        margin-right: 2rem;
      }
    }
  }
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
  }
  img {
    width: 480px;
  }
}
