.hero {
  @include padding(32, top bottom);
  background: $color-plum-700;
  color: white;
  abbr[title] {
    text-decoration: none;
  }
  h2 {
    @include type-size(500);
    line-height: 1.25;
    font-weight: bold;
    margin-top: 0;
    @media (min-width: $viewport-md) {
      @include type-size(600);
    }
    @media (min-width: $viewport-lg) {
      @include type-size(600);
    }
    @media (min-width: $viewport-xl) {
      @include type-size(700);
    }
  }
}
