@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.hero {
  padding-top: 35px;
  background: $color-plum-550;
  color: white;
  @media (min-width: $viewport-md) {
    padding: 70px 0 30px 0;
  }
  .container {
    position: static;
    @media (min-width: $viewport-lg) {
      position: relative;
    }
  }
  .header {
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: bold;
    @media (min-width: $viewport-ms) {
      font-size: 2rem;
    }
    @media (min-width: $viewport-md) {
      font-size: 3rem;
    }
    @media (min-width: $viewport-lg) {
      max-width: 38rem;
      position: absolute;
    }
    @media (min-width: $viewport-xl) {
      max-width: 48rem;
    }
  }

  .paragraph {
    font-size: 13px;
    @media (min-width: $viewport-lg) {
      font-size: 16px;
      max-width: 30rem;
      bottom: 5rem;
      position: absolute;
    }
    @media (min-width: $viewport-xl) {
      max-width: 30rem;
      bottom: 8rem;
    }
  }
  .chart-wrapper {
    max-width: 100%;
    padding-right: -150px;
    overflow-x: hidden;
  }
}

.chart-bar {
  margin: 0 1px;
}

.chart-line {
  stroke: $color-plum-550;
  stroke-width: 1.5px;
}

.chart-legend {
  color: white;
  font-size: 14px;
  overflow: visible !important;
  text-anchor: end;
  text {
    color: white;
  }
}

.ctp-count {
  border-bottom: 3px solid $color-honey-400;
  @media (max-width: $viewport-md) {
    border-width: 3px;
  }
}

.cdc-count {
  border-bottom: 3px solid white;
  @media (max-width: $viewport-md) {
    border-width: 3px;
  }
}
