.root {
  display: flex;
  flex-flow: row wrap;
}

.container {
  position: relative;
  width: 25em;
}

.image {
  width: 25%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $viewport-md) {
    width: 10%;
  }
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  img {
    width: 140px;
  }
}
