@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';
@import '~scss/type.module.scss';

.large-dataset {
  // margin-top: 2rem;
  // margin-bottom: 2rem;
  @include margin(32, (top bottom));

  @media (min-width: $viewport-lg) {
    // margin-top: spacer(6);
    // margin-bottom: 4.5rem;
    @include margin(64, (top bottom));
  }

  img {
    border: 1px solid $color-slate-200;
  }

  h3 {
    @media (min-width: $viewport-lg) {
      @include type-size(400);
    }
    margin-bottom: spacer(8);
  }

  p {
    color: $text;
  }

  .homepage-paragraph {
    margin-bottom: spacer(32);

    @media (min-width: $viewport-lg) {
      // margin-bottom: 5rem;
      margin-bottom: spacer(64);
    }
  }
}
