@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';
@import '~scss/type.module.scss';

.wrapper {
  // padding: 60px 0;
  @include padding(64, (top bottom));
  border-top: 1px solid $color-slate-200;
  border-bottom: 1px solid $color-slate-200;

  p {
    // margin-bottom: 1.5rem;
    @include margin(4, bottom);
    color: $color-slate-700;

    @media (min-width: $viewport-lg) {
      // margin: 0 5rem;
      margin: 0 spacer(64) spacer(32) spacer(64);
      // margin-bottom: 3rem;
    }
  }

  h3 {
    @include type-size(400);
    line-height: 1.2;

    @media (min-width: $viewport-lg) {
      @include type-size(600);
    }

    a {
      text-decoration: none;
      color: $text;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
