.large-dataset {
  @include margin(32, (top bottom));

  @media (min-width: $viewport-lg) {
    @include margin(64, (top bottom));
  }

  img {
    border: 1px solid $color-slate-200;
  }

  h3 {
    @media (min-width: $viewport-lg) {
      @include type-size(400);
    }
    margin-bottom: spacer(8);
  }

  p {
    color: $text;
  }

  .homepage-paragraph {
    margin-bottom: spacer(32);

    @media (min-width: $viewport-lg) {
      margin-bottom: spacer(64);
    }
  }
}
