@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.wrapper {
  // padding: 60px 0;
  @include padding(6, (top bottom));
  border-top: 1px solid $color-slate-200;
  border-bottom: 1px solid $color-slate-200;

  p {
    // margin-bottom: 1.5rem;
    @include margin(4, bottom);
    color: $color-slate-700;

    @media (min-width: $viewport-lg) {
      // margin: 0 5rem;
      margin: 0 spacer(6) spacer(5) spacer(6);
      // margin-bottom: 3rem;
      margin-bottom: spacer(5);
    }
  }
  
  h3 {
    font-size: toRem(24);
    line-height: 1.2;
  
    @media (min-width: $viewport-lg) {
      font-size: toRem(36);
    }
  
    a {
      text-decoration: none;
      color: $text;
      
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
