@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';

.wrapper {
  padding: 60px 0;
  border-top: 1px solid $color-slate-200;
  border-bottom: 1px solid $color-slate-200;
  text-align: center;
  @media (min-width: $viewport-lg) {
    padding: 120px 0;
  }
  p {
    margin-bottom: 1.5rem;
    @media (min-width: $viewport-lg) {
      margin: 0 5rem;
      margin-bottom: 3rem;
    }
  }
  h3 {
    a {
      text-decoration: none;
      color: $text;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
