@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';
@import '~scss/helpers.module.scss';

.large-dataset {
  // ====
  // This is a good example of standardization needs.
  // We could define that components margin is 6 (4rem) on desktop and 5 (2rem) on mobile.
  // ====

  // margin-top: 2rem;
  // margin-bottom: 2rem;
  @include margin(32, (top bottom));

  @media (min-width: $viewport-lg) {
    // margin-top: spacer(6);
    // margin-bottom: 4.5rem;
    @include margin(64, (top bottom));
  }

  img {
    border: 1px solid $color-slate-200;
  }
  
  h3 {
    @media (min-width: $viewport-lg) {
      font-size: 1.5rem;
    }
    margin-bottom: spacer(8);
  }

  p {
    color: $text;
  }

  .homepage-paragraph {
    margin-bottom: spacer(32);

    @media (min-width: $viewport-lg) {
      // margin-bottom: 5rem;
      margin-bottom: spacer(64);
    }
  }
}
