.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.extra-margin {
    margin-bottom: 3rem;
  }
  img {
    filter: grayscale(1);
    height: 2.5rem;
    margin: 1.125rem 2.25rem;
  }
}
