$text: #000;

/*

Brand colors

*/
// Plum
$color-plum-1: #111354;
$color-plum-2: #31347A;
$color-plum-3: #575AAD;
$color-plum-4: #6164BA;
$color-plum-5: #8B8DC7;
$color-plum-6: #B6B7DB;
$color-plum-7: #D1D1E8;
$color-plum-8: #F2F2FF;

// Honey
$color-honey-1: #6E2F1F;
$color-honey-2: #924F34;
$color-honey-3: #C66B3E;
$color-honey-4: #E2894E;
$color-honey-5: #FFAD4A;
$color-honey-6: #F6CE7A;
$color-honey-7: #FBE8A9;
$color-honey-8: #FCF9EB;

// Blueberry
$color-blueberry-1: #012656;
$color-blueberry-2: #004399;
$color-blueberry-3: #0091EA;
$color-blueberry-4: #8CC7F4;
$color-blueberry-5: #E2F1FC;

// Slate
$color-slate-1: #313638;
$color-slate-2: #3D4245;
$color-slate-3: #4C5559;
$color-slate-4: #5B666B;
$color-slate-5: #6F7E85;
$color-slate-6: #849096;
$color-slate-7: #95A0A6;
$color-slate-8: #B2BBBF;
$color-slate-9: #D0D7DB;
$color-slate-10: #EDF1F2;


/*

Color primitives

*/
$color-link: $color-plum-3;
$color-link--active: $color-plum-5;
$color-link--hover: $color-plum-5;

$color-infobox-question-light: #fef9cd;
$color-infobox-question-dark: #5e4f24;

$color-infobox-sync-light: #ddeffc;
$color-infobox-sync-dark: #264a8c;

$color-infobox-alert-light: #fedcd2;
$color-infobox-alert-dark: #802509;

:export {
  text: $text;
  link: $color-link;
  linkActive: $color-link--active;
  colorPlum01: $color-plum-1;
  colorPlum02: $color-plum-2;
  colorPlum03: $color-plum-3;
  colorPlum04: $color-plum-4;
  colorPlum05: $color-plum-5;
  colorPlum06: $color-plum-6;
  colorPlum07: $color-plum-7;
  colorPlum08: $color-plum-8;
  colorHoney01: $color-honey-1;
  colorHoney02: $color-honey-2;
  colorHoney03: $color-honey-3;
  colorHoney04: $color-honey-4;
  colorHoney05: $color-honey-5;
  colorHoney06: $color-honey-6;
  colorHoney07: $color-honey-7;
  colorHoney08: $color-honey-8;
  colorBlueberry01: $color-blueberry-1;
  colorBlueberry02: $color-blueberry-2;
  colorBlueberry03: $color-blueberry-3;
  colorBlueberry04: $color-blueberry-4;
  colorBlueberry05: $color-blueberry-5;
  colorSlate01: $color-slate-1;
  colorSlate02: $color-slate-2;
  colorSlate03: $color-slate-3;
  colorSlate04: $color-slate-4;
  colorSlate05: $color-slate-5;
  colorSlate06: $color-slate-6;
  colorSlate07: $color-slate-7;
  colorSlate08: $color-slate-8;
  colorSlate09: $color-slate-9;
  colorSlate10: $color-slate-10;
}
