$text: #000;

/*

Brand colors

*/
// Plum
$color-plum-100: #F2F2FF;
$color-plum-200: #D1D1E8;
$color-plum-300: #B6B7DB;
$color-plum-400: #8B8DC7;
$color-plum-500: #6164BA;
$color-plum-600: #575AAD;
$color-plum-700: #31347A;
$color-plum-800: #111354;

// Honey
$color-honey-1: #6E2F1F;
$color-honey-2: #924F34;
$color-honey-3: #C66B3E;
$color-honey-4: #E2894E;
$color-honey-5: #FFAD4A;
$color-honey-6: #F6CE7A;
$color-honey-7: #FBE8A9;
$color-honey-8: #FCF9EB;

// Blueberry
$color-blueberry-100: #E2F1FC;
$color-blueberry-200: #8CC7F4;
$color-blueberry-300: #0091EA;
$color-blueberry-400: #004399;
$color-blueberry-500: #012656;

// Slate
$color-slate-100: #EDF1F2;
$color-slate-200: #D0D7DB;
$color-slate-300: #B2BBBF;
$color-slate-400: #95A0A6;
$color-slate-500: #849096;
$color-slate-600: #6F7E85;
$color-slate-700: #5B666B;
$color-slate-800: #4C5559;
$color-slate-900: #3D4245;
$color-slate-1000: #313638;


/*

Color primitives

*/
$color-link: $color-plum-600;
$color-link--active: $color-plum-400;
$color-link--hover: $color-plum-400;

$color-infobox-question-light: #fef9cd;
$color-infobox-question-dark: #5e4f24;

$color-infobox-sync-light: #ddeffc;
$color-infobox-sync-dark: #264a8c;

$color-infobox-alert-light: #fedcd2;
$color-infobox-alert-dark: #802509;

:export {
  text: $text;
  link: $color-link;
  linkActive: $color-link--active;
  colorPlum100: $color-plum-100;
  colorPlum200: $color-plum-200;
  colorPlum300: $color-plum-300;
  colorPlum400: $color-plum-400;
  colorPlum500: $color-plum-500;
  colorPlum600: $color-plum-600;
  colorPlum700: $color-plum-700;
  colorPlum800: $color-plum-800;
  colorHoney800: $color-honey-1;
  colorHoney700: $color-honey-2;
  colorHoney600: $color-honey-3;
  colorHoney500: $color-honey-4;
  colorHoney400: $color-honey-5;
  colorHoney300: $color-honey-6;
  colorHoney200: $color-honey-7;
  colorHoney100: $color-honey-8;
  colorBlueberry100: $color-blueberry-100;
  colorBlueberry200: $color-blueberry-200;
  colorBlueberry300: $color-blueberry-300;
  colorBlueberry400: $color-blueberry-400;
  colorBlueberry500: $color-blueberry-500;
  colorSlate100: $color-slate-100;
  colorSlate200: $color-slate-200;
  colorSlate300: $color-slate-300;
  colorSlate400: $color-slate-400;
  colorSlate500: $color-slate-500;
  colorSlate600: $color-slate-600;
  colorSlate700: $color-slate-700;
  colorSlate800: $color-slate-800;
  colorSlate900: $color-slate-900;
  colorSlate1000: $color-slate-1000;
}
