@mixin type-size-base($size, $weight: normal) {
  @if $size == 700 {
    font-size: 48px;
    font-size: 3rem;
  }
  @if $size == 600 {
    font-size: 36px;
    font-size: 2.25rem;
  }
  @if $size == 500 {
    font-size: 30px;
    font-size: 1.8rem;
  }
  @if $size == 400 {
    font-size: 23px;
    font-size: 1.45rem;
  }
  @if $size == 300 {
    font-size: 18px;
    font-size: 1.125rem;
  }
  @if $size == 200 {
    font-size: 16px;
    font-size: 1rem;
  }
  @if $size == 100 {
    font-size: 13px;
    font-size: 0.8rem;
  }
  @if $size == 50 {
    font-size: 11px;
    font-size: 0.6875rem;
  }
  @if $weight != normal {
    font-weight: $weight;
  }
}

@mixin type-size($size) {
  @include type-size-base($size);
}

@mixin bold-type-size($size) {
  @include type-size-base($size, 700);
}
