@import '~scss/breakpoints.module.scss';

.show-chart-data {
  display: block;
  background: transparent;
  font-weight: bold;
  border: 0;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
  abbr {
    display: inline-block;
    margin-left: 1rem;
  }
}

canvas {
  display: block;
  margin: 0;
  // margin: 0 auto;
}

.canvas-tick {
  font-size: 16px;
  right: 150px;
  margin-top: -0.5em;
  position: absolute;
}

.canvas-tick p {
  margin: 0;
  padding-left: 4rem;
  position: absolute;
  top: 0;
  width: 240px;
}

.canvas-tick::before {
  content: ' ';
  display: block;
  position: absolute;
  right: 120%;
  width: 40px;
}

.canvas-tick[data-labeled-tick='true']::before {
  background-color: black;
  height: 0.2em;
  top: 0.7em;
}

.canvas-tick[data-labeled-tick='false']::before {
  background-color: #cccccc;
  height: 0.05em;
  top: 0.7em;
}

.canvas-tick[data-labeled-tick='false'] span {
  opacity: 0;
}
