@import '~scss/breakpoints.module.scss';

.black-african-american-alone {
  background: #ffad4a;
}
.white-alone {
  background: #585bc1;
}
.hispanic-latino {
  background: green;
}

.swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 1rem;
  font-size: 0.8rem;
}

ul.legend {
  list-style-type: none;
  margin-top: 2rem;
  li {
    @media (min-width: $viewport-lg) {
      display: inline-block;
      margin: 0 1rem;
    }
  }
}
