@import '~scss/breakpoints.module.scss';
@import '~scss/colors.module.scss';

.asian-alone {
  background: $qualitative-color-palette-100;
}
.white-alone {
  background: $qualitative-color-palette-200;
}
.black-african-american-alone {
  background: $qualitative-color-palette-300;
}
.hispanic-latino {
  background: $qualitative-color-palette-400;
}
.aian-alone {
  background: $qualitative-color-palette-500;
}
.nhpi-alone {
  background: $qualitative-color-palette-600;
}
.two-or-more {
  background: #555;
}

.swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.legend {
  margin-top: 2rem;
  font-size: 14px;
  h4 {
    margin: 0;
  }
  ul {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
    li {
      @media (min-width: $viewport-lg) {
        display: inline-block;
        margin-right: 2rem;
      }
    }
  }
}
