@import '~scss/breakpoints.module.scss';
@import '~scss/type.module.scss';

.black-african-american-alone {
  background: #ffad4a;
}
.white-alone {
  background: #585bc1;
}
.hispanic-latino {
  background: green;
}

.swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: spacer(8);
  @include type-size(100);
}

.legend {
  margin-top: spacer(32);
  @include type-size(100);
  h4 {
    margin: 0;
  }
  ul {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
    li {
      @media (min-width: $viewport-lg) {
        display: inline-block;
        margin-right: spacer(32);
      }
    }
  }
}
