@import '~scss/colors.module.scss';
@import '~scss/breakpoints.module.scss';

.hispanic-latino {
  fill: $color-palette-100;
}
.nhpi-alone {
  fill: $color-palette-200;
}
.black-african-american-alone {
  fill: $color-palette-300;
}
.white-alone {
  fill: $color-palette-400;
}
.aian-alone {
  fill: $color-palette-500;
}
.asian-alone {
  fill: $color-palette-600;
}

.two-or-more {
  fill: red;
}

.chart {
  width: 100%;
}

.bar {
  width: 10;
}

.tick {
  overflow: visible !important;
}

.label {
  fill: black;
  font-size: 13.5px;
}
