.container {
  & > li {
    @include margin(32, bottom);

    p.section-label {
      @include margin(16, bottom);
    }
  }
  @media (max-width: $viewport-sm) {
    @include padding(16, left);
  }
}

.current-state {
  font-weight: bold;
  color: $color-slate-700;
  background-color: $color-slate-200;
  border-radius: 4px;
  @include padding(16);
}
