.detail {
  text-align: right;
}

.contact-methods {
  list-style-type: none;
  @include padding(0, left);
  li {
    @include margin(8, bottom);
  }
}

.label {
  font-weight: bold;
}

.container {
  @include margin(16, bottom);
}
