.search {
  width: 100%;
  // positioned behind the results from the header search bar
  z-index: -1;
  input {
    width: 100%;
    // set the default outer color to grey
    box-shadow: 0 0 0 2px $color-slate-700;
    &:focus,
    &:active {
      // ...and make it honey when focused
      box-shadow: 0 0 0 2px $color-honey-400;
    }
  }
}

.results-label {
  margin-top: spacer(8);
  margin-bottom: spacer(32);
}

.search-results {
  h2 {
    margin-bottom: 48px;
  }
}

.wrapper {
  @include row();
  @include col(4 6 10);
  margin: 0 auto;
}
