.search {
  width: 100%;
  // positioned behind the results from the header search bar
  z-index: -1;
  input {
    width: 100%;
    // set the default outer color to grey
    box-shadow: 0 0 0 2px $color-slate-700;
    &:focus,
    &:active {
      // ...and make it honey when focused
      box-shadow: 0 0 0 2px $color-honey-400;
    }
  }
}

.results-label {
  margin-top: spacer(8);
}

.search-results {
  h2 {
    margin-bottom: 48px;
  }
}

.wrapper {
  @include row();
  @include col(4 6 10);
  margin: 0 auto;
}

.filter-buttons {
  fieldset {
    border: none;
    padding: 0;

    legend {
      display: none;
    }
  }

  .options-container {
    display: flex;
    margin-top: spacer(16);
    margin-bottom: spacer(64);

    .option {
      padding: 13px 0; // ignore-style-rule
      width: 100px;
      border-radius: 4px;
      background-color: $color-plum-100;
      margin-right: spacer(32);

      text-align: center;
      color: $color-plum-700;
      font-weight: bold;
      line-height: 1;

      &.checked {
        color: white;
        background-color: $color-plum-700;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }
}
