.search-submit {
  position: absolute;

  // the search box is 35px wide, the icon is 14px wide
  // (35px - 14px ) / 2 = 10.5px
  right: 0;
  padding: 10.5px; // ignore-style-rule

  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
}
