.state-historical {
  th:last-child,
  td:last-child {
    padding-right: 0.25em;
  }

  ul {
    color: green;
    list-style: none;
    display: inline;
  }

  li {
    display: inline;
    padding-right: 0;
    &::after {
      content: ' ';
    }
  }
}
